[2018-01-10 12:37] oiaohm opened #1 "Feature Request: Linux Kernel Crypto API User Space Interface support."
https://www.kernel.org/doc/html/v4.14/crypto/userspace-if.html

I don't know how much of libxcrypt/libcrypt functionality is already exposed from the Linux Kernel Crypto API.   But I do know like all the SHA algorithms are in the Linux Kernel with hardware acceleration support and the SHA algorithms here are not using any of the newer instructions to hardware accelerate.

libcrypt is being depreca

[2018-01-11 13:01] besser82 commented on #1
Thank you for your recommendation!  =)

This one will be on the roadmap for the v5.0 release (maybe based on libkcapi).  Currently we are doing the final testing for releasing v4.0 and pioneering libxcrypt into the first Linux distribution.

[2018-01-11 14:13] zackw commented on #1
I don't see any harm in looking into this, but I want to point out that the cryptographic primitives used in libxcrypt are *modified* DES, SHA-256, SHA-512, and blowfish; it may not work to use "normal" implementations (maintained by someone else or not). Also, password hashes are *deliberately made slow*, so hardware acceleration is actively undesirable.

[2018-01-12 03:36] oiaohm commented on #1
Thing to remember the Linux Kernel Crypto API has to review everything the use.    If you can work with the bigger projects and possible share more code will expand you poll of personal to review stuff.

For some things crypt function running faster would not matter.   But even for those where the crypt function required to be slow externally being slow internally is bad.

"Also, password hashes a

[2018-03-31 12:02] besser82 commented on #1
Coming back to this topic after quite a while…

I've though a long time about how to handle things and the way to go for libxcrypt…  From my POV it would be an advantage to drop all internal implementations of low-level hashing from libxcrypt and implement a dispatcher, which proxies them from either libkcapi (Linux Kernel Userspace Crypto API), {Open,Libre} SSL, libnss and Nettle.  The choice for

[2018-04-17 16:33] kraj opened #2 "Build fails with gcc 8.0 snapshot"
[code]
gcc snapshot from 20180415 results in below build error

[code]

[2018-04-17 21:10] zackw commented on #1
@besser82 My big concern with any scheme to outsource crypto primitives to _any_ external library is that I'm not convinced it will be worth the effort, for two reasons.  First, we could at best expect to get rid of the `alg-*.c` files -- but that's less than half the library, and it's the half that needs the least maintenance.  Second, the newer hashes, the ones we actually want people using -- b

[2018-05-16 09:52] #2 closed

[2018-05-19 13:52] zackw opened #4 "Feature request: configurable policy for hash functions and cost parameters"
On Linux, glibc's libcrypt forbids the use of MD5 and DES password hashes if `/proc/sys/crypto/fips_enabled` exists and contains a positive integer.  As I understand it, this was a kludge for a specific security certification that is no longer considered valuable, but it suggests a more general and useful feature: a configuration file (perhaps `/etc/security/pwhash.conf`) allowing the system admin

[2018-06-25 12:34] fweimer opened #7 "Compile-time switch for disabling SUNMD5 hashes"
The implementation is under the CDDL, which some of us consider inappropriate for a system library due to its GPL incompatibility.

[2018-06-30 17:31] #7 closed

[2018-07-13 14:30] besser82 opened #13 "`test-getrandom-fallbacks` fails reproducibly on 32 bit arches"
[code]

Is there any other information I can supply you with?

[2018-07-13 15:50] besser82 commented on #13
From what I could find out, yet:  It seems on 32 bit arches for some reason `-Wl,--wrap,open` seems to have no effect.

Tested with Fedora{27,28,29} armv7hl.

[2018-07-13 16:01] zackw commented on #13
This is because on 32-bit architectures we use `-D_FILE_OFFSET_BITS=64`, which means `open` in the source code actually calls `open64` in the C library.  Should be fixed by 8fb52d98e2750cd5302a375727b703b925896f33; I'll close this after CI goes green.

[2018-07-20 23:49] sedrubal opened #15 "Segfault when pass is NULL and when generating NTHashes"
Following (invalid) code will produce a segfault, because `phrase` is `NULL`:

[code]

I'm not sure if this is intended. Other hashes return "*0", when `pass` is `NULL`.

[2018-07-21 00:12] sedrubal opened #16 "Specifying the default rounds parameter returns an invalid hash"
Since commit 15d1e3bf3d259ea262f3d34e8c225a3abfabaa09 it is not possible to specify `rounds=5000` as part of a SHA512 salt any more. This is imho a huge breaking change, that should be documented in `NEWS` and in `crypt(5)`. I think this even violates the regex mentioned in `crypt(5)`.

Apart from this, I think it should definitively be allowed to request the default number of rounds. If you ever

[2018-07-21 12:46] zackw commented on #15
Clearly the behavior should not depend on which hashing method is in use.

There is an argument that passing NULL as `phrase` should return `*0` for all hashes, but there is also an argument that it should _crash_ for all hashes.  (See https://blogs.msdn.microsoft.com/oldnewthing/20060927-07/?p=29563 and also consider what happens if you pass a pointer to five `'a'`s followed by unmapped address s

[2018-07-21 14:44] sedrubal commented on #16
Thank you very much for the clarification. :+1:

To explain my use case: I built a custom hasher for Django to use SHA512 hashes (for compatibility with other systems using the same database). Django expects that generating salts and hashing pass phrases is split into 2 steps (2 functions). I wanted to be sure that it uses a fix number of rounds and I also tried  to write the code as declarative a

[2018-07-21 16:48] besser82 commented on #15
Passing in `NULL` as `phrase` should return `*0` and set `errno = EINVAL` with all hashes, since passing a pointer to `NULL` is a valid parameter by the C-standard; checking for a `NULL` pointer is valid and doesn't cause random side-effects.  Thus we should signal an error in that case.

[2018-07-21 18:51] zackw commented on #15
Which bit of the C standard are you thinking of?  The general rule is that passing NULL to a C library function provokes undefined behavior (7.1.4p1, very first sentence):

descriptions that follow: If an argument to a function has an invalid value (such as a value
outside the domain of the function, or a pointer outside the address space of the program,
or a null pointer, or a pointer to non-modi

[2018-07-24 11:48] fweimer opened #18 "Remove swapcontext use"
I have doubts that this actually succeeds in wiping processor state. The downside is that it confusing valgrind a lot, and there are also compatibility issues with Intel CET.

[2018-07-24 12:39] zackw commented on #18
i'm working on this, for those very reasons.  I plan to replace it with a generalization of bcrypt's self-test.  However, I am not likely to get to it in the next few months.

[2018-07-25 20:15] sedrubal commented on #16
Any news? Do I have to ship the workaround in my software?

[2018-07-26 00:53] zackw commented on #16
Fixed via pr#22.

[2018-07-26 00:53] #16 closed

[2018-07-26 09:29] besser82 commented on #15
Fixed in https://github.com/besser82/libxcrypt/commit/aae4c1baea534d2e4c9dfe2faf42ee0c5f7a6f22.  I'll do a bugfix release over the weekend.

Closing here as this is fixed.

[2018-07-26 09:29] #15 closed

[2018-07-27 12:13] gzpapp opened #23 "configure - autoreconf -vif"
I'm trying to run autoreconf -vif in the top directory, but getting the following error:

Makefile.am:29: error: Libtool library used but 'LIBTOOL' is undefined
Makefile.am:29:   The usual way to define 'LIBTOOL' is to add 'LT_INIT'
Makefile.am:29:   to 'configure.ac' and run 'aclocal' and 'autoconf' again.
Makefile.am:29:   If 'LT_INIT' is in 'configure.ac', make sure
Makefile.am:29:   its defini

[2018-07-27 12:35] zackw commented on #23
`LT_INIT` does appear in configure.ac, and `pkgconfigdir` is supposed to be defined by `PKG_INSTALLDIR`.  Also, I frequently use `autoreconf -vif` myself and it works fine.  There must be something else wrong. Could you please post the _complete and unedited_ output of `autoconf --version`, `autoreconf --version`, `automake --version`, `aclocal --version`, `libtoolize --version`, and `autoreconf -

[2018-07-27 12:56] gzpapp commented on #23
On 07/27/18 14:35, Zack Weinberg wrote:

After investigating the log files I discovered, that an installed libtool was
missing.
Now seems autoreconf -vif works fine without any error.

Sorry for the noise.

[2018-07-27 13:07] gzpapp commented on #23
Found in the configure log:

configure: line 4372: PKG_PROG_PKG_CONFIG: command not found
configure: line 4373: PKG_INSTALLDIR: command not found

From the configure script the above lines looks like:

# Dependencies
PKG_PROG_PKG_CONFIG
PKG_INSTALLDIR

[2018-07-27 13:19] gzpapp commented on #23
My fault again, related to this error:

Makefile.am:38: error: 'pkgconfig_DATA' is used but 'pkgconfigdir' is undefined.

From the beginning:

$ autoconf --version
autoconf (GNU Autoconf) 2.69
Copyright (C) 2012 Free Software Foundation, Inc.
License GPLv3+/Autoconf: GNU GPL version 3 or later
<http://gnu.org/licenses/gpl.html>, <http://gnu.org/licenses/exceptions.html>
This is free software: you

[2018-07-27 13:23] gzpapp commented on #23
Installing missing pkgconf solved the problem:

$ pkgconf --version
0.28

I was missing libtool and pkgconf. Now autoreconf -vif works fine.

[2018-08-01 20:53] ldv-alt commented on #23
btw, pkgconf is not the only option available, one can use e.g. pkg-config >= 0.27 instead.

[2018-08-02 09:11] gzpapp commented on #23
On debian stable pkg-config is symlink to pkgconf.

[2018-08-02 10:14] ldv-alt commented on #23
pkg-config is symlink to pkgconf only if pkgconf package is installed.

[2018-08-02 10:45] gzpapp commented on #23
distro madness :-P
Anyway, one of them needed for running autoreconf -vif

[2018-08-04 21:59] asavah opened #24 "lto linking, missing symbols"
gcc 8.2.0
binutils 2.31.1
glibc 2.28 (with --disable-crypt)

crosscompilation for aarch64, libxcrypt v4.1.1
configure --enable-shared --disable static

If libxcrypt is built with lto in *flags almost all symbols are missing from the library

lto build - bad
[code]

Non lto build (gold linker) - good
[code]

Is this expected ?

[2018-08-05 14:25] besser82 commented on #24
Long term known problem with LTO and LD versioning scripts and GCC [1].  Has been brought up with FUSE [2] last year, too.  Clang has some issues with LTO too, but that's a different story.

Maybe this will work with GCC 9…

[1]  https://gcc.gnu.org/bugzilla/show_bug.cgi?id=48200
[2]  https://github.com/libfuse/libfuse/issues/198

[2018-08-05 14:34] asavah commented on #24
Thanks for the explanation, feel free to close,
maybe it's worth mentioning in the README ?

[2018-08-05 17:38] besser82 commented on #24
Maybe we should crash the configure script with a descriptive error, if `-flto` is detected in the `CFLAGS` or `LDFLAGS`…  @zackw and @ldv-alt What do you think?

[2018-08-05 17:53] ldv-alt commented on #24
Given that -flto can probably be used along with some other options that mitigate this problem,
I think a more fine-grained approach is needed.

[2018-08-06 12:36] fweimer opened #25 "Offer NULL error return values as a build option"
We have a downstream bug report that the new error behavior is confusing:

* https://bugzilla.redhat.com/show_bug.cgi?id=1611784

Would it be desirable to add the NULL error return values as a build-time/configure option?

[2018-08-06 13:49] zackw commented on #25
The glibc implementation of `crypt` and `crypt_r` has returned NULL on failure for a very long time, so I'm open to the possibility of adding a configure option, or even making that change unconditionally.  I'd like to hear from @solardiz first, though, about their original reason for the `*0` return value and how likely they think it is to still be relevant.

[2018-08-06 14:06] codonell commented on #25
Florian mentioned it might be due to .htpasswd files crashing httpd.

Apache trunk has:

support/passwd_common.c
228         cbuf = crypt(pw, salt);
229         if (cbuf == NULL) {
230             rv = APR_FROM_OS_ERROR(errno);
231             ctx->errstr = apr_psprintf(ctx->pool, "crypt() failed: %pm", &rv);
232             ret = ERR_PWMISMATCH;
233             break;
234         }

That is at le

[2018-08-07 20:50] besser82 commented on #25
I've checked several other implementations of `crypt()` besides unmodified `glibc` with these findings:

* musl: Returns `NULL` on failure.
* uClibc: Returns `NULL` on failure.
* dietlibc: Returns `NULL` on failure.
* [FreeBSD](https://www.freebsd.org/cgi/man.cgi?crypt(3)): Returns `NULL` on failure.
* [NetBSD](http://ftp.netbsd.org/pub/NetBSD/NetBSD-current/src/lib/libcrypt/crypt.c): < 6.0 Return

[2018-08-08 01:42] zackw commented on #25
I've added a configure option `--disable-failure-tokens` in commit 8596e29.  This will allow Fedora to match the behavior that Fedora applications evidently do expect.  I'm not happy about the additional ifdefs, but we need more data about whether those legacy applications really do exist anymore.

Independently of that, thanks for the oss-security link, which has made me aware that we might be do

[2018-08-08 09:38] rfc1036 commented on #25
Thank you, I will use --disable-failure-tokens on Debian as well for consistency.

[2018-08-29 14:51] zackw opened #28 "Remove gensalt support for obsolete hashing methods?"
This came up during the review of yescrypt, but should be discussed separately.

We support generation of new "setting strings", via `crypt_gensalt`, for all of the supported hashing methods, including methods that are no longer secure (NTHASH, DES, MD5, SHA1; depending how you look at it, even SHA256 and -512 are getting shaky) and methods that exist only for backward bug-compatibility (alternati

[2018-08-29 15:00] zackw commented on #28
To kick off the discussion, the most obvious scenario I can think of, where people would still need to hash new passphrases with obsolete methods, is a "computer lab" with many different types of Unix workstation, using centralized authentication via NIS-style distribution of hashes.  For anything weaker than SHA256, I think there's a strong case that this is no longer acceptable practice and they

[2018-08-29 16:50] zackw commented on #24
Documented the limitation in 6b06074.  I'm still happy to write a configure check if someone tells me how to run libtool from inside configure.

[2018-08-29 16:51] zackw commented on #23
Requirements for building from a git checkout are now documented in README.md.  Please let us know if there's still something missing.

[2018-08-29 16:51] #23 closed

[2018-08-29 22:34] richfelker commented on #28
The `$2*$` forms are all bcrypt, which certainly should not be considered deprecated. Are you just intending to deprecate the bug-compat setting forms?

[2018-08-30 00:54] zackw commented on #28
@richfelker Yes, that's right.  The preferred `$2b$` will remain.

[2018-08-30 10:11] solardiz opened #29 "crypt.5 .hash's reporting of effective hash size is wrong"
As discussed in https://github.com/besser82/libxcrypt/pull/27#discussion_r213801730, the `.hash` macro has been changed somewhere between my revision in Owl (and its later life in ALT Linux?) and libxcrypt's to change the reporting for traditional DES-based hashes from:

[code]

to:

[code]

(There are other differences as well, but those look OK.)

The above change is wrong because a limit on key

[2018-08-30 10:16] gzpapp commented on #23
Looks good, thanks for your work!

[2018-08-30 10:50] solardiz commented on #28
For some more context, this idea came up as an alternative to the suggestion that yescrypt's gensalt should be capable of generating setting strings not only for yescrypt's current `$y$` prefix (which also supports classic scrypt under the `$y$.` variety - with a dot indicating flags=0), but also for classic scrypt under the older `$7$` prefix (which is supported in libsodium). We do already have

[2018-08-30 11:08] solardiz commented on #1
I'm with @zackw on this.

I'm just a bystander as it relates to libxcrypt project, but I think this issue was created based on misunderstanding of how modern CPUs tend to make accelerated crypto instructions available (directly to userspace as well, so e.g. OpenSSL's libcrypto would be more relevant than kernel APIs) and of "slow" password hashing. Thus, I think this issue should be closed to avoi

[2018-08-30 11:15] solardiz commented on #4
Not commenting on the feature nor on file format, but this reminded me: I suggest that we adopt the naming of these hashes that's currently used in password hash cracking. This means: descrypt, bsdicrypt, md5crypt, sha256crypt, sha512crypt. This would help avoid the usual confusion between DES (block cipher) and descrypt, and between MD5 (fast, non-salted non-password ex-cryptographic hash) and md

[2018-08-30 14:07] zackw opened #30 "Issues from high-level review of yescrypt core code"
I looked over the yescrypt core code, mostly for integration problems with the libxcrypt environment.  I didn’t do a thorough review; this code is already mature, and I’m not qualified to review cryptographic primitives anyway.  I have some immediate concerns regarding the code in `yescrypt-platform.c`, but nothing else urgent.  There are also a number of long-term changes that we might want to ma

[2018-08-30 17:02] zackw commented on #29
Check my logic here:  Traditional DES recognizes only 2<sup>56</sup> distinct input passwords.  (This is captured by the "maximum password length" entry in the table.)  Those passwords are translated directly to DES cipher keys.  The input _block_ is fixed.  It follows that, _for any one salt_, traditional DES crypt has only 2<sup>56</sup> possible outputs.  If there is an output collision, that i

[2018-08-30 17:09] zackw commented on #29
Gah, fatfingered while trying to edit.

Now, the question in my mind is, what are we trying to document here?  Terminology aside, I think it is simply that, for the DES variants and only the DES variants, the output is longer than required for the number of possible outputs, and therefore brute-force attacks are easier / rainbow tables are smaller than you might think from inspecting a leaked shad

[2018-08-31 09:59] solardiz commented on #29
While "what are we trying to document here?" is an important question, whatever we document better be correct - and right now it is not, hence this issue.

I disagree that "for the DES variants [...] the output is longer than required for the number of possible outputs". They would have been somewhat worse if their output size were 56 rather than 64 bits. First, given a fixed salt, a 56-to-56 hash

[2018-08-31 10:17] solardiz commented on #29
Regarding "brute-force attacks are easier / rainbow tables are smaller than you might think from inspecting a leaked shadow file", only someone unfamiliar with password cracking would try to draw conclusions about those things from hash sizes. The only time I recall anyone seriously mention something like this was in Ulrich's `SHA-crypt.txt`, where he wrote: "[...] the produced output for both DES

[2018-08-31 11:10] solardiz commented on #30
Thank you for your review. A proper "upstream forum" could be the yescrypt mailing list, but then you also bring up questions specific to libxcrypt and I don't remind addressing them in here.

The OpenMP support is primarily for the KDF use case and for ROM initialization. It is currently mostly irrelevant for authentication (except for a possible ROM initialization step) and for password cracking

[2018-09-03 15:59] zackw commented on #29
As a quick fix (since I think @besser82 may want to get 4.2.0 out the door soon), I have reintroduced the "effective key size" entry for DES only.  We now have, for instance,

[code]

versus

[code]

Down the road, I have realized that my actual subconscious problem with the terms generated by the `.hash` macro is that many of them aren't ever defined.  What exactly do we mean "hash size N bits",

[2018-09-03 17:28] solardiz commented on #29
Your changes look good to me, thanks!

As to defining the terms, I think most are self-explanatory whereas "Effective key size" would take too much space to define (more precisely than these words imply) whereas it's only relevant to a couple of old hashing methods, or maybe even to only one - see below. So I'd rather not do that.

As an option, we can leave the only mention of "Effective key size

[2018-09-08 17:04] besser82 opened #33 "Upstreaming gost-yescrypt from ALT Linux?"
@vt-alt, @ldv-alt:  What about implementing `$gy$` upstream?  Do you have any plans doing that?  It might be useful for the users of Fedora русский Remix as well.

[2018-09-08 18:31] vt-alt commented on #33
Yes, we have plans to upstream it too. It is also designed with @solardiz. It would be useful for people wanting modern password hashing, but requiring (or preferring) to rely on cryptographic properties of GOST algorithms.

[2018-09-08 20:18] besser82 commented on #33
Sounds good.

I've seen you are using the OpenSSL implementation of the [Streebog Hash Function][1].  The [canonical implementation][2] seems to have a more permissive license (BSD 2-clause), which is preferred for libxcrypt.

Do you have any timeframe?  I'd like to have it in the v4.2.0 release (I'm planning to release in about two weeks), if possible.

[1]:  https://www.streebog.net
[2]:  https:

[2018-09-08 20:34] vt-alt commented on #33
We could replace algo if you prefer. Also, I don't have time prediction and already switched to other projects. Two weeks is too optimistic. Maybe two months? I will post here when I start working on it.

[2018-10-23 19:44] besser82 commented on #33
@vt-alt @ldv-alt @solardiz The current implementation of gost-yescrypt in ALT Linux has one flaw:  Hashing the same phrase with the output of gost-yescrypt leads to a different hash.

[2018-10-23 20:09] besser82 commented on #33
This patch solves the issue:

[code]

The patch actually always uses `$gy$param$salt` instead of `$gy$param$salt$output` for the inner hmac; otherwise one cannot verify the phrase against the computed hash from gost-yescrypt, without truncating setting *before* passing it crypt().

@vt-alt @ldv-alt @solardiz What do you think?

[2018-10-23 21:03] solardiz commented on #33
This certainly looks like a bug to me. Thanks for finding it. As I understand, with the fix we're still including the whole setting string in the `gost_hmac256()` call, which has pros (simpler code now; ensures every parameter change will result in a different hash, even if the specific change is somehow otherwise a no-op) and cons (more complex code later if anyone ever needs to implement gost-ye

[2018-10-23 21:12] solardiz commented on #33
Actually, I am surprised this bug could have existed so far: it'd result in authentication always failing, right? Has the code never been tested as part of the ALT Linux distro? Or is this bug in a different revision of the code than what's in the distro?

[2018-10-23 21:20] besser82 commented on #33
Yes, it results in authentication will fail, *if* one passes the whole output of crypt() as setting.  If setting is truncated to `$gy$param$salt` authentication works.

The code was taken from a recent checkout of http://git.altlinux.org/people/iv/packages/?p=libcrypt.git, so I assume it is in a recent release of ALT Linux.

[2018-10-23 22:33] vt-alt commented on #33
Yes, it's a bug. I just tested myself in the actual installation. It is released in development repo (Sisyphus), probably @ldv-alt decided not to enable it by default, so coverage is small and we did not have any bug reports about it. Also, testers probably missed it due to it being non-default. @besser82 thank you very much!

[2018-10-23 23:28] besser82 commented on #33
@vt-alt Are you fine with my patch?

[2018-10-24 01:59] besser82 commented on #33
Let's take further discussion over to the PR.

[2018-10-24 01:59] #33 closed

[2018-10-24 02:02] vt-alt commented on #33
I just assigned `OVE-20181024-0001` [ID](https://www.openwall.com/ove/) to this bug, in case it needs referencing in changelogs as a security-related bug.

[2018-10-24 11:14] solardiz commented on #33
@vt-alt Thank you for promoting OVE IDs, but I think "authentication always fails" is not a security issue.

[2018-10-24 14:08] besser82 commented on #33
You're very welcome!  =)

Btw, my patches posted in https://github.com/besser82/libxcrypt/issues/33#issuecomment-432400024 and https://github.com/besser82/libxcrypt/issues/33#issuecomment-432404968 apply directly on the codebase from ALT Linux.

[2018-10-29 01:33] ryandesign opened #40 "function-like macro '__GNUC_PREREQ' is not defined"
Hello, I was looking into adding a port for libxcrypt to MacPorts, but it doesn't build for me. The error is:

[code]

I'm on macOS 10.13.6 and using Apple's clang compiler version 9.1.0. I looks like the intention was that if the compiler is clang, then `__GNUC_PREREQ` does not get used, but that's not what's happening. If you tested this with clang and didn't see this problem, maybe you were usi

[2018-10-29 01:36] ryandesign commented on #40
Another option could be to just define a dummy `__GNUC_PREREQ`:

[code]

[2018-10-29 02:00] ryandesign opened #41 "error: '__nonnull' macro redefined"
Hello, trying to build libxcrypt fails for me on macOS. I mentioned this error as part of #40 but it probably deserves its own issue:

[code]

I'm able to fix this using:

[code]

[2018-10-29 02:07] zackw commented on #41
Could you please look through your system headers and find out where `__nonnull` is getting defined and what it's getting defined to?  I would want to make sure we don't screw something else up with that change.  (I'm particularly concerned with the possibility of someone including crypt.h and then a system header that needs the original definition of `__nonnull`.)

[2018-10-29 02:13] zackw commented on #40
First, thanks for looking into a MacOS port!

Second, we shouldn't be using `__GNUC_PREREQ[__]` in the first place, at least without making sure it's defined first.  It's not an official GCC precompiled macro, it's something GNU libc defines in its `features.h` for its own internal convenience.  We _could_ take appropriate precautions around using it, but since it's only used in one place I think

[2018-10-29 02:15] ryandesign commented on #40
Right, it's also in glibc, which is why you wouldn't see this problem on systems that use glibc. (I've had this discussion with another project recently but can't remember everything!)

[2018-10-29 02:33] zackw commented on #41
Oh, that's annoying.  We're expecting _this_ definition of `__nonnull` out of `sys/cdefs.h`:

[code]

This means your patch _will_ break MacOS system headers included after `crypt.h`, which I bet are doing things like

[code]

instead of the GNUish sort-of-equivalent

[code]

I'm tempted to address this by ripping out all of the nonnull annotations, which are a questionable optimization that have

[2018-10-29 02:51] ryandesign commented on #41
I don't know, I may not have found the whole story yet. cdefs.h is only setting `__nonnull` empty if nullability isn't supported. I don't know what happens when nullalbility *is* supported.

According to a [swift blog post](https://developer.apple.com/swift/blog/?id=25), nullability is supported ever since Xcode 6.3. They also mention:

You're correct that the macOS system headers use `_Nonnull` (

[2018-10-29 03:11] ryandesign opened #42 "error: 'IS_BIGENDIAN' is not defined, evaluates to 0"
After fixing the other issues I reported, libxcrypt fails to build with this error—if I build universal:

[code]

The configure script is trying to `#define IS_BIGENDIAN 1` on big-endian systems and `#define IS_BIGENDIAN 0` on little-endian systems, but autoconf has a third value for its endian check when building universal:

[code]

A [universal binary](https://en.wikipedia.org/wiki/Universal_bin

[2018-10-29 03:13] ryandesign opened #43 "error: aliases are not supported on darwin"
Building libcrypt fails on macOS (a.k.a. Darwin):

[code]

[2018-10-29 11:13] besser82 commented on #42
Please check the patch proposed in #44.

[2018-10-29 11:39] besser82 commented on #41
@ryandesign As I don't have a Mac, could you please check the patch proposed in #45.

[2018-10-29 11:40] besser82 commented on #43
@zackw Any ideas about this one?

[2018-10-29 12:47] besser82 commented on #43
@ryandesign #46 is the best solution I could come up with.  Can you please test it?

[2018-10-29 13:47] zackw commented on #43
I'm not familiar enough with Darwin object file format to know what the "right" way to do symbol aliases is.  The only uses of strong_alias in the source code are for `gensalt_des_big_rn` and `fcrypt`; the former could be replaced with a wrapper function, and the latter is a compatibility symbol that shouldn't be getting defined at all on Darwin.

@ryandesign Can you confirm please that `INCLUDE_f

[2018-10-29 13:55] zackw commented on #41
@ryandesign Based on https://clang.llvm.org/docs/AttributeReference.html#nullability-attributes I think clang will recognize most of these identifiers as keywords when `__has_feature(nullability)` is true.

[2018-10-30 00:36] ryandesign commented on #40
Is the decision about whether `MIN_SIZE(x)` should be `(x)` or `static (x)` something that could or should be made in the configure script instead? You're now handling clang and compilers that identify themselves as `__GNUC__` 5 or later, but there are compilers other than gcc and clang, and I don't know what they support or how they identify themselves. (clang for example identifies itself as gcc

[2018-10-30 18:56] #42 closed

[2018-10-31 18:01] besser82 commented on #43
@ryandesign Now I just need to dig into the failing tests and we are set for OSX.

[2018-10-31 18:10] besser82 commented on #43
@ryandesign Could you do me a little favour,please?  For further debugging of the failing test, I need the output of `nm -h` on OSX.  Can you paste it here, please?

[2018-10-31 22:22] #43 closed

[2018-10-31 23:09] ryandesign commented on #43
The output of `nm -h` is:

[code]

The output of `nm -help` is:

[code]

[2018-11-01 17:29] solardiz opened #54 "Consider introducing limits on resource usage by maybe-rogue hash encodings"
Historically, hashes were fixed-cost and thus OK for semi-trusted users to be able to specify directly e.g. in Apache httpd `.htpasswd` files. With tunable-cost hashes, this changes - a semi-trusted user could DoS the service for its other users, and if no adequate resource limits are configured on the service then also DoS the system. musl chose to impose some hard-coded sanity limits on those ha

[2018-11-01 18:35] zackw commented on #54
The `crypt.conf` format I proposed in #26 could easily be extended to support run-time configurable upper limits.

I think we should certainly document the issue, and I think there's a strong case for doing more than that, but I am not sure I know what that is. Do you have links to the discussion that happened when musl added limits?

[2018-11-01 19:54] solardiz commented on #54
Here are two relevant messages/threads:

https://www.openwall.com/lists/musl/2012/08/08/20
https://www.openwall.com/lists/oss-security/2013/06/12/1

[2018-11-07 11:26] fweimer opened #58 "Fedora package maintenance"
@besser82, it seems you are not reading your Fedora email, so I'm trying to contact you in this manner.

Fedora's non-responsive package maintainer process was activated while you were away, and the libxcrypt package was transferred to me. Since you seem to be doing package updates again, I would suggest you take ownership again.

I can stay around as a co-maintainer, but I do not plan to make any

[2018-11-07 11:30] besser82 commented on #58
Just responded by PM.

[2018-11-07 11:30] #58 closed

[2018-11-08 17:02] zackw commented on #54
I just revised the [crypt.conf spec](https://github.com/besser82/libxcrypt/pull/26/commits/159d89c2e9a6fef66c5d5f37f7102407e4f49be8#diff-74d4bc28af6647750c34c24a894dd573) so that there are now `defcost=` and `maxcost=` keyval arguments for each hashing method.  We'd need to add more knobs if we ever allow tuning memory separately from time parameters, but I think this will do for the time being.

[2018-11-08 18:30] solardiz commented on #54
I haven't reviewed this carefully yet, but conceptually I think a single numeric `maxcost=` can't fully/directly address the issue of malicious hash encodings manually put into `.htpasswd` files and the like for hash types that have more than one parameter specified via the hash encoding (in current libxcrypt that's scrypt and yescrypt). So perhaps we need something else, or we need some reverse t

[2018-11-11 15:12] zackw commented on #54
You're right.  I was thinking only in terms of what can be expressed via the `crypt_gensalt` interface, not what can be expressed by manual construction of setting strings.

Abstractly what we want is `maxcpu=` and `maxtime=` knobs that apply across the board, but I don't see a good way to implement that short of having libxcrypt fork off a child process on every call to `crypt` so it can apply OS

[2018-11-13 14:03] gvegidy opened #64 "Provide a commandline utility to create password hashes"
Currently there is no commandline utility that I know of that
- actually uses lib(x)crypt and does not reimplement the hashes itself (like htpasswd)
- is commonly available on most linux distributions (there is for example "mkpasswd", hidden in the "whois" package on Debian and derivatives, but which is not packaged on Fedora)
- offers easy access to all the new hash methods of libxcrypt like yesc

[2018-11-13 14:45] rfc1036 commented on #64
Maybe you want to talk to the Fedora maintainer then, and have this fixed? My whois package is present in all Linux distributions, mkpasswd does all that, supports all hashes in libxcrypt at the time of its release and will continue adding new ones in the future.

[2018-11-13 14:52] zackw commented on #64
@rfc1036 Oh, is _that_ why the Debian whois package now has a dependency on libcrypt2?  It seems to me that the whois package is not an obvious place to look for a utility like this.   I'd be willing to consider shipping it as a demo/utility with libcrypt, if you'd like to contribute it.

Having said that, your tone makes it sound like you are rejecting the bug and furthermore you think OP should

[2018-11-13 15:32] besser82 commented on #64
@gvegidy @ppisar I've [filed a bug](https://bugzilla.redhat.com/show_bug.cgi?id=1649426) with the maintainer of the `whois` package in Fedora.  I hope he will add the `mkpasswd` binary for use with libxcrypt.

[2018-11-13 15:34] besser82 commented on #64
@ppisar Would you mind me - using my proven packager powers - to add the binary to the package for F29+, if you don't have time to do it?

[2018-11-13 15:54] ppisar commented on #64
I would mind. The executable already exists in a different Fedora ("expect")
package. The tool is exclude from whois package on purpose. Please continue
discussion in the Fedora bug report.

[2018-11-13 16:26] gvegidy commented on #64
I can fully understand why Fedora does not package mkpasswd from whois, because I do not think whois is an obvious package to look for such a tool. Also there is the conflict with the mkpasswd program from expect which does something different (it's main purpose is to create a random password, but it also has limited options to forward it to /bin/passwd).

I think the best solution to all these pr

[2018-11-13 16:52] gvegidy commented on #64
@rfc1036 would you consider splitting mkpasswd out of the whois package and into a separate package?

[2018-11-13 17:26] zackw commented on #64
@rfc1036 On a box running Debian unstable,

[code]

That doesn't look like "all hashes in libxcrypt" to me.  (I can file this as a separate bug somewhere if you'd prefer to track it that way -- just lemme know wqhere.)

[2018-11-13 17:39] gvegidy commented on #64
@zackw I compiled the latest version of mkpasswd from https://github.com/rfc1036/whois and it is able to use scrypt, yescrypt and so on

[2018-11-14 10:06] besser82 commented on #64
@gvegidy Are you fine with the current solution, we now have in Fedora?

***

@rfc1036 I have two proposals about how we can solve this for the majority of libxcrypt users:

1. How about renaming the `mkpasswd` tool to `mkpassphrase`?
2. If you agree to relicense that tool to `BSD 2-clause`, we can start to ship it with libxcrypt, so any of our consumers can get it.
3. In Fedora I can ship the too

[2018-11-14 10:18] gvegidy commented on #64
@besser82 When wearing my end user hat, everything will be fine soon when the conflict with the expect package is resolved.

When wearing a packager hat, I still have a bit of an unpleasant feeling about taking the source from a network database interface tool to build a password hashing program. I would very much prefer if @rfc1036 would release mkpasswd as a separate package or if it is transfer

[2018-11-15 04:58] rfc1036 commented on #64
An historical note first: the whois package also contains the mkpasswd program because the RIPE whois client provided a similar tool at least as far as 1998, and somebody being confused by this every now and then never looked to me like a valid justification to split an already tiny package.

@zackw due to boring reasons libxcrypt updates in Debian are currently stuck in NEW, but I expect that thi

[2018-11-15 08:46] gvegidy opened #66 "Provide a commandline utility to decode hash parameters"
Each hash method has it's own way to encode parameters like cost and salt. For auditing and monitoring purposes it would be nice to have a generic tool which could decode them.

I think of something like this:
[code]

If I planned to transition to a more strict hashing policy, such a tool would be the base for a script which told me which users have to re-hash their password. Also I could monitor

[2018-11-15 08:47] ppisar commented on #64
Before you publish the fork under a difference license, please check authors
of all the lines of your new fork and ask them for the new license. It's not
only Marco d'Itri. Especially the translations in po/*.po files.

And I can assure you that I don't give you a permisson to use my work under
a different license. You would have to remove the po/cs.po file.

[2018-11-28 13:57] zackw opened #71 "Consider building with `-fno-plt` when available"
This is a minor optimization that came to my attention earlier today and I'm filing this issue mostly so I don't forget about it.  (I'm not going to have any time at all for xcrypt work for the next several weeks.)

This is the GCC documentation for `-fno-plt`:

Since we are already using `-Wl,-z,now` to disable lazy binding, the only downside (on x86-64) is that call instructions targeting C libr

[2018-12-04 17:52] #71 closed

[2018-12-17 18:56] kraj opened #74 "Fails to build with x32 abi"
Here is regression seen on x32 builds

[code]

[2018-12-17 18:57] kraj commented on #74
This is the commit where it is introduced

https://github.com/besser82/libxcrypt/commit/a32bb84b28a6c750ebb4b7e951dad301864d9115

[2018-12-17 19:22] solardiz commented on #74
It looks like the x86_64 inline asm is enabled on x32. I don't have any x32 system to test on, but I guess a fix would be to change the line:

[code]

to:

[code]

That way, a suitable implementation with intrinsics should be used and the inline asm one not reached by the conditional compiles.

Slightly better performance could be possible through addition of x32 specific inline asm. This is proba

[2018-12-17 19:33] kraj commented on #74
let me try second solution out

[2018-12-17 21:52] besser82 commented on #74
@kraj @solardiz That's odd…  i686 builds [1] on Fedora don't show this issue.

[1]  https://kojipkgs.fedoraproject.org//packages/libxcrypt/4.4.1/1.fc30/data/logs/i686/build.log

[2018-12-17 22:09] ldv-alt commented on #74
x32 is not something you can try on Fedora.

[2018-12-18 04:11] kraj commented on #74
@solardiz the inline asm change is building successfully, waiting for runtime results. hopefully tomorrow

[2018-12-21 16:31] besser82 commented on #24
@asavah, @zackw FYI, building with `-flto` is working with Clang / LLVM >= 7.0.0 now.

[2018-12-22 07:14] solardiz commented on #74
@kraj So what are the runtime results? And what project is this for? Do you actually use yescrypt there or is it merely getting compiled along with the rest of libxcrypt, then left unused? I'd like to know whether to merge this fix upstream. Thanks!

[2018-12-22 08:14] kraj commented on #74
This patch here works as expected.
http://git.openembedded.org/openembedded-core/tree/meta/recipes-core/libxcrypt/files/0001-Add-x32-specific-inline-asm.patch?id=59be9254df9ffeda594b21af8be433564c898474

[2018-12-22 10:00] besser82 commented on #74
@kraj It would be nice, if you would open a PR with this patch here as well.

[2018-12-22 10:36] #74 closed

[2019-01-21 13:37] besser82 opened #76 "FTBFS with GCC 9-series"
I'm opening this issue for documentation purposes:

[code]

[code]

[2019-01-21 16:07] #76 closed

[2019-01-24 15:13] zackw commented on #24
@besser82 Neat.  I wonder what they did to make it work.  I'll maybe see if I can fix the tests.

[2019-01-24 18:30] besser82 commented on #76
https://github.com/besser82/libxcrypt/commit/ec2078568431d65aec3b878cc871e10ad11a9d50 will be needed as well.

[2019-01-24 21:24] besser82 commented on #76
https://github.com/besser82/libxcrypt/commit/2e4135284e7aaeac2218878041de31d8e724dc8f will be needed as well.

[2019-01-29 12:24] tpgxyz opened #77 "Missing symbols"
Hi,

libxcrypt when it is compiled with LLVM/clang and linked with ld.gold does not export all needed symbols.
After further investigation, changing linker to ld.bfd gives right output.

More details here:
https://github.com/OpenMandrivaAssociation/libxcrypt/commit/2f0240ebf066a0b0cb626e18b4a096c13e8773c5

[2019-01-29 12:38] besser82 commented on #77
As I cannot reproduce this issue with LLVM/Clang v6+, can you please give me a bit more information?  Which version of LLVM/Clang is used during compilation?  Which {C,LD}FLAGS are exactly used?

***

Anyways, you should run `%make_build check` during the `%check` stage of the spec file to make sure everything is working…

[2019-01-29 14:22] tpgxyz commented on #77
@besser82 Please see full logs here (where you will find all the answers for your questions)
https://abf.openmandriva.org/build_lists/358431

Spec file for libxcrypt:
https://github.com/OpenMandrivaAssociation/libxcrypt/blob/master/libxcrypt.spec

We are using LLVM/clang-7.0.1

CFLAGS='-Os -gdwarf-4 -Wstrict-aliasing=2 -pipe -Wformat -Werror=format-security -D_FORTIFY_SOURCE=2 -fstack-protector-st

[2019-01-29 19:22] besser82 commented on #77
I've done some testing with

[code]

and I cannot reproduce this problem on Fedora 29+ with the specified versions of `clang` and `ld.gold`.

Looking at OpenMandriva's versions of the toolchain it seems OM uses much more modifications compared to the Fedora builds.  Thus I assume the problem arises from the toolchain used.

Does this happen with other libraries using version-scripts + lto in OM, t

[2019-01-30 08:57] tpgxyz commented on #77
Well yes, in case of toolchain we are preety much more adavanced than others.

We noticed missing symbols only in libxcrypt, that's why we added extra check in spec file.
If crypt_r@GLIBC_2 symbol is missing then build is terminated

https://github.com/OpenMandrivaAssociation/libxcrypt/blob/e75d51a18c0d7dd94be4bd2dc5f936ead89b0c82/libxcrypt.spec#L88

Btw. currently libxcrypt cannot be build on arm

[2019-01-31 22:16] zackw opened #78 "NTHASH truncates passwords to 128 chars, which may be wrong"
Our implementation of NTHASH truncates passwords to 128 characters.  This appears to be inconsistent with [Microsoft's documentation](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/hh994558(v=ws.10)), which says

Going by that, we ought to truncate at either 127 or 256 characters, not 128.  I want to check what the BSD clone did before making any

[2019-01-31 22:44] besser82 commented on #78
Our implementation is exactly the one (with slight modifications) from FreeBSD, which is the only BSD supporting it.

[2019-02-02 13:36] mbretter commented on #78
Sorry, I have no idea, why I made it this way, maybe it was easier because of the division by 2, when computing the unicode? Sorry I can't remember, 15 years it's a long time ...

[2019-02-02 13:41] besser82 commented on #78
@mbretter Thank you for your reply.

@zackw Given that simple reasoning (it actually came into mind before as well), are you okay with simply truncating `phrase` to a maximum length of 127 bytes then?  I already have an improved version of NTHASH with this change ready to go.

[2019-02-02 13:42] mbretter commented on #78
It think that I took the code from Mpd (I did some work on it at those days):
https://sourceforge.net/p/mpd/svn/HEAD/tree/trunk/src/msoft.c
=> NTPasswordHash

therefore the comment in the code mentioning Archie

[2019-02-02 13:46] besser82 commented on #78
Let's ask @archiecobbs about it then…

[2019-02-02 17:07] archiecobbs commented on #78
As I recall, the 128 hard limit is just an upper bound and, at the time (> 25 years ago), was used simply because it was (a) "long enough", and (b) easier to code.

The correct fix here would be to dynamically allocate a buffer of suitable size using `malloc()`, instead of using a fixed-width buffer which causes truncation.

[2019-02-02 17:19] besser82 commented on #78
@zackw Looking at the explaination by @archiecobbs (thanks for that), we possibly should drop the truncation at all, and use a unicode buffer that is `CRYPT_MAX_PASSPHRASE_SIZE` units long.

What do you think?

[2019-02-03 16:15] zackw commented on #78
That seems plausible to me.

The only actual use case for `$3$` hashes anymore is something like an LDAP server for Windows clients. (Windows 10 still uses this hashing method!) The Windows documentation says that passphrases up to 256 "characters" (in context, these are probably UCS-2 code units) can be set programmatically (e.g. via [`NetUserChangePassword`](https://docs.microsoft.com/en-us/wind

[2019-02-03 18:32] #78 closed

[2019-02-20 16:32] besser82 commented on #77
Ping, @tpgxyz and @berolinux.

Is this still an issue?

[2019-02-21 11:25] tpgxyz commented on #77
@besser82  Yes issue still exists:
http://file-store.openmandriva.org/api/v1/file_stores/ad3765a117bf1d3bd38866cffae14aaaf66e9a67.log?show=true

[code]

[2019-02-25 16:52] kloczek opened #83 "Patches porting libcrypto, libgcrypt (any other?) to libxcrypt"
Someone maybe have some list of projects libxcrypt ready and/or list of patches which can be applied on some projects porting them from any existing crypto API to libxcrypt?

Just made few dnf queries to asses which one projects on Fedora are using existing crypto ABIs:
Please leave here some comment if you know that some of below projects can be already switched to use libxcrypt.

<pre># (dnf rep

[2019-02-25 18:28] zackw commented on #83
lib(x)crypt is not a replacement for general-purpose cryptography libraries like libcrypto or libgcrypt.   It only does passphrase hashing.  It is a drop-in replacement for the [`crypt*`](http://pubs.opengroup.org/onlinepubs/9699919799/functions/crypt.html) functions that are currently provided by the C library on most Unixes, and _only_ for those functions.

I'm going to take this report as a req

[2019-02-28 10:01] tpgxyz commented on #77
@berolinux found the issue. It was caused by LTO which is enabled in OpenMandriva by default.

[2019-02-28 10:01] #77 closed

[2019-03-04 09:40] besser82 commented on #76
v4.4.4 or newer builds fine with GCC-9.

[2019-03-24 20:51] e2002e opened #85 "crypt_r yields a segmentation fault"
hi, I build the lib and test it, works good, but I cannot use crypt_r that yields a segfault (unaligned strcpy). Is it working ?

[2019-03-24 23:23] zackw commented on #85
That's not supposed to happen.  Could you please provide us with a test case -- a short program that we can compile and run for ourselves to observe the same crash that you are getting?  Also we need to know what CPU and operating system you are using.

[2019-03-24 23:39] e2002e commented on #85
okay, my code looks like this:
for(int i=0; i<hashcount; i++)
{
        struct crypt_data datas;
	datas.initialized = 0;
	if(strcmp(crypt_r(tmp1, salt[i], &datas), hash[i]) == 0)
}
where salt is a list of salt declared extern, same for hash, tmp1 is a simple buffer.
compiled on x86_64 Debian 4.9.0-6
I installed libxcrypt and the issue is gone.
If you really need a runnable code please try zhou on

[2019-03-25 00:01] zackw commented on #85
I'm confused.  Are you saying that you are seeing a crash when you DO use libxcrypt, or are you saying that you are seeing a crash when you DON'T use libxcrypt ?

Also it's bizarre that you would be getting an alignment-related crash on x86-64, which makes me think there's something unusual about your computer or configuration and the crash wouldn't happen for me.  This is why I really need _you_

[2019-03-25 00:30] e2002e commented on #85
It crashed with this version compiled from source, with the libxcrypt provided by apt it runs.
as for a runnable code I've simply compiled this:

#include <stdio.h>
#include <crypt.h>

int main()
{
	struct crypt_data datas;
	datas.initialized = 0;
	crypt_r("wah", "gwaan", &datas);
}
and it crashes.
As for the speed you might be surprised if you try it and compare it to john. It's actually about 4

[2019-03-28 13:48] solardiz commented on #85
@e2002e Really weird stuff - the segfault, "unaligned strcpy" (strcpy isn't meant to require alignment, and x86 normally doesn't require alignment except with SIMD), the speeds ratios, and you getting any speed measurements at all for a program that you say crashes. This is very confusing. You'd need to provide some very specific info for anyone to look into this - e.g., a gdb backtrace and disasm

[2019-03-28 13:56] solardiz commented on #85
@e2002e I just took a look at your "zhou" project. Looks like you're just learning how to write that code, and perhaps learning is your goal? That's fine.

FYI, John the Ripper is also able to use `crypt_r` if you want it to, that's called the "generic crypt(3) format". See the file c3_fmt.c. It should be fairly easy to understand.

As to your use of `crypt_r` in that code, you could improve speed

[2019-03-28 15:02] zackw commented on #85
@e2002e In order to investigate further, I need to know:

 * full details of your CPU (`cat /proc/cpuinfo` should be sufficient)
 * exactly which compiler you used (gcc, clang, or other, and the `--version` output for whichever it was)
 * exact configure and make command lines when building libxcrypt from source

@solardiz The documentation says that you must zero the entire `crypt_data` (except t

[2019-03-28 16:50] e2002e commented on #85
Hello, true @solardiz I had a measurement failure but that was just the fact that I did only use one core with john (no -fork).
Here is a paste of my /proc/cpuinfo https://pastebin.com/TKa550DV
$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/6/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Debian 6.3.0-1

[2019-03-28 17:44] zackw commented on #85
Copying the [`/proc/cpuinfo` submitted by e2002e](https://github.com/besser82/libxcrypt/files/3019488/TKa550DV.txt) from pastebin to a github issue attachment.

[2019-03-28 17:52] solardiz commented on #85
@e2002e You could also build JtR with OpenMP support (uncomment a line in the Makefile if you're using non-jumbo), although fork's cumulative speed is typically slightly higher than OpenMP's. Also, note that JtR jumbo has much faster sha*crypt and md5crypt that use SIMD.

[2019-03-28 17:56] zackw commented on #85
OK, I can't reproduce the problem with the submitted code, current `develop`, GCC 8, GLIBC 2.28, and an `Intel(R) Xeon(R) CPU E3-1245 v3`, which means this has to be specific to the exact CPU, compiler, and/or C library you are using, @e2002e.  I need you to do some assembly-level debugging for me. Run your test program under `gdb` and wait for it to crash.  Then issue these commands and report th

[2019-03-28 18:59] e2002e commented on #85
Here we go, I bet you'll find out what happened
[issue85.zip](https://github.com/besser82/libxcrypt/files/3019757/issue85.zip)

[2019-03-28 19:19] zackw commented on #85
OK, `strcpy` does not appear to be involved at all.  The crash is on a 32-bit integer load:

     mov    0x2009c(%rsi),%eax

The value of %rsi is 0x7fffffff6100, which is stack memory.  %rsp is 0x7fffffff6080.  0x7fffffff6100 + 0x2009c = 0x80000001619c — well-aligned for a 32-bit load, but _above the end of the stack_.  Also, this instruction comes from a function named `_ufc_setup_salt_r`.  No su

[2019-03-28 19:37] e2002e commented on #85
curious, I have messed up with a lot a libraries concerning sha512crypt, must be keeping yours from installing correctly.

[2019-03-28 19:37] #85 closed

[2019-05-23 11:05] LiamFry commented on #40
This remains an issue for me [on macOS 10.13.6/High Sierra].
I prepare with `cmake -DWITH_TLS_PSK=OFF -DWITH_TLS=OFF .`
(No errors)
Then compile with `make`
And I get this:
[code]

[2019-06-07 21:57] MartB opened #88 "Unexpected issue with gitlabs (ruby bcrypt) implementation"
More details here:
https://gitlab.com/gitlab-org/gitlab-ce/issues/61857

Not quite sure where the issue is at the moment but it seems like :__bc_salt is bevaving differently.

https://github.com/codahale/bcrypt-ruby/blob/12a50f4ff20c1723cc08b3f3c5dcd257c305172c/ext/mri/bcrypt_ext.c#L9 is the calling code, apparently it works fine on older fedora versions without libxcrypt

[2019-06-08 07:23] besser82 commented on #88
Okay, I have a suspicion, where the problem comes from…  Can you please provide me with details about how gitlab-ce was installed on Fedora 30?

[2019-06-08 15:19] solardiz commented on #88
_Maybe_ related: https://github.com/codahale/bcrypt-ruby/pull/166#issuecomment-446703448

bcrypt-ruby uses crypt_blowfish's wrapper code that I originally only intended for use by libc's, and then works around symbol clashes and function prototype differences between it and the systems' actual libc's. That's a problematic approach that's bound to cause more trouble. I don't know if that's what we

[2019-06-08 20:53] MartB commented on #88
What people on fedora must do for gitlab is setup the repo for el7 and use their pre-built rpm files.
You can obtain them here (select the el7 version) https://packages.gitlab.com/gitlab/gitlab-ce

However after this `gitlab-ctl reconfigure` will fail, so before that you need to install `libxcrypt-compat`
Theoretically the normal gitlab install steps should work then.

[2019-06-24 14:07] besser82 commented on #88
The issue should be fixed in `libxcrypt-4.4.6-2.fc30`, which will be available in the Fedora updates stable repository within the next 8 days.  In the mean time it can be installed using `sudo dnf --enablerepo=*testing upgrade libxcrypt`.

It would be nice to get some feedback here, whether the issue is really fixed with that update.

[2019-06-24 14:10] besser82 commented on #88
Anyways, users are required to have the `libxcrypt-compat` package installed, too.  Preferrably before updating to the new build of libxcrypt, as the compat package will be updated automatically along.

[2019-06-24 16:52] zackw commented on #88
It's starting to sound to me like `libxcrypt-compat` should be installed by default for fresh installs of, and upgrades to, Fedora 30.

[2019-06-24 17:35] besser82 commented on #88
Well, actually not, as if the third-party rpm for gitlab *should* have automatically generated
[code]
which in turn would make the package manager (yum or dnf) to pull `libxcrypt-compat`.

If those requirements are not generated by rpmbuild, something is fishy with the spec file and/or the dependency generator has been disabled on purpose…

[2019-06-24 17:53] MartB commented on #88
Thanks for fixing it, i will give it a try in a few hours.

Issue with that rpm is, that its not meant for fedora and theres no official fedora rpm atm.

[2019-06-24 19:13] besser82 commented on #88
You're welcome.

Anyways, even an rpm build on/targeting RHEL 7 / CentOS 7 *should* have these requires present and automatically generated, otherwise sth. is fishy.

Maybe you want to have look at [COPR](https://copr.fedorainfracloud.org/coprs/) to deliver gitlab CE rpms for the various Fedora and/or RHEL / CentOS versions.  It is less restrictive than official builds on Fedora infrastructure, e.

[2019-06-24 20:06] MartB commented on #88
@besser82 Seems like the package did not reach updates-testing yet for fedora30, i can see it on a fedora 29 instance though. Do you mind making it available for f30?

[2019-06-24 20:16] MartB commented on #88
I can confirm that the upgrade to .2 fixed the issue, i am now able to log in to gitlab without any additional steps.

Thanks yet again.

[2019-06-24 20:45] besser82 commented on #88
The push to the f30 update-testing repo will be today around 0:00 to 3:00 UTC.  Sometimes it takes a bit unitl the packages are pushed to the mirrors.

Yay!  =)  I'll close here, then.

[2019-06-24 20:45] #88 closed

[2019-08-29 22:47] t184256 opened #89 "CPU time cost below minimum raises EINVAL; glibc quietly upped it to the minimum."
I was testing libxcrypt with the test vectors taken from glibc/crypt/*-test.c, and two of them resulted in a different behaviour, namely the two with the CPU cost value below the algorithm's allowed minimum. Seems like glibc sneakily bumped it to the allowed minimum, while libxcrypt returns EINVAL.

Test vectors:

    crypt("the minimum number is still observed", "$5$rounds=10$roundstoolow")

[2019-08-30 07:41] t184256 opened #90 "libxcrypt accesses the second character of the salt if the first one is an asterisk."
This test, adapted from [glibc's badsalttest](https://sourceware.org/git/?p=glibc.git;a=blob;f=crypt/badsalttest.c;h=60b24abbabb226cf5afc10b6a39aa7ccfdc3f4d6;hb=HEAD), shows that libxcrypt accesses the second character of the salt if the first one is invalid.

The test below segfaults with libxcrypt (4.4.8) and returns 0 with glibc (glibc-2.17-292.el7).

<details><summary>Test</summary>

[code]

<

[2019-08-31 20:05] besser82 commented on #90
This example hits a single corner case, as libxcrypt uses the asterisk (*) character as a failure token.  This failure toke may or may not be the return value of the `crypt` and `crypt_r` functions, depending on the build-time configuration.

The function that sets the failure token needs to access the second character of the setting (salt) to ensure the possibly returned token will not be identic

[2019-08-31 20:35] t184256 commented on #90
Hm, interesting, thanks for a clarification!

I can't find whether failure tokens are documented anywhere except for the source code comments. If they are not, could you maybe reuse this bug as a TODO to document them?

Do I understand correctly, that if one wants to use libxcrypt as a drop-in replacement to glibc crypt, it should be compiled without failure tokens?

[2019-09-01 15:22] sthibaul opened #91 "Please enable binary compatibility for GNU/Hurd as well"
Hello,

I see that libxcrypt assumes GNU/Hurd doesn't use binary compatibility

https://github.com/besser82/libxcrypt/blob/3add78ffac30ca3785eea5cd35619710b50432b0/configure.ac#L464

but it does :) (at least formally with abilists since glibc 2.27). We have thousands of Debian binary packages which we want to see continue working when Debian's glibc will migrate to libxcrypt.

The crypt interface

[2019-09-01 17:03] #91 closed

[2019-09-05 01:41] zackw commented on #83
I'm closing this issue because, in the absence of any further information, I don't know what to clarify about the documentation.  If you ever get back to this query please feel free to reopen.

[2019-09-05 01:41] #83 closed

[2019-09-05 01:42] zackw opened #93 "Coverity buffer overrun reports as of Aug 24"
This may or may not be an actual bug, it needs further investigation.

[code]

[2019-09-07 09:01] besser82 commented on #93
This is a false positive, as Coverity Scan doesn't honor the +16 increment of [the surrounding loop](https://github.com/besser82/libxcrypt/blob/develop/lib/alg-sha256.c#L148).

[2019-09-07 09:20] #93 closed

[2019-09-07 14:49] solardiz commented on #90
The behavior described here isn't a bug. It would have been wrong to access a character after NUL, but it is no problem accessing one after a non-NUL. `crypt` is defined to accept a NUL-terminated string as `setting`, and the reported behavior is consistent with proper processing of such string.

The corner case @besser82 mentions is irrelevant to such reasoning and thus unnecessary to bring up in

[2019-09-07 14:52] solardiz commented on #89
Thank you for pointing out this difference. I think "complete compatibility with glibc's crypt" is a non-goal; compatibility within reason is a goal. I think we shouldn't migrate misfeatures like this from glibc to libxcrypt unless desirable for real-world usage scenarios (not just tests).

[2019-09-16 10:45] crypto-das opened #94 "Algorithms in crypt-hashes.h are misordered when using gawk < 4.1.0"
Replacing `for (i in output_order) {` with `for (i = 0; i < next_output; ++i) {` in lib/gen-hashes.awk solved the problem for me.

[2019-09-16 18:12] besser82 commented on #94
Thanks for your finding!

Can you please paste a diff `diff -Nau` of `crypt-hashes.h`, so we can examine the issue a bit further?

[2019-09-18 16:11] besser82 commented on #94
It seems that changing the syntax of the loop doesn't generate any harm for more recent versions of gawk.  Let's see what TravisCI come up with.

[2019-09-18 16:41] besser82 commented on #94
Travis is fine with the patch.  Will merge then.

[2019-09-18 16:47] besser82 commented on #94
I'll also tag a new release `v4.4.10` for your convenience.

[2019-09-18 16:50] #94 closed

[2019-09-19 14:00] crypto-das commented on #94
I'm not sure that understood you correctly (I'm not experienced with diff) but here is diff of the file I got with an old gawk and a file I expect to be generated from hashes.lst: https://gist.github.com/crypto-das/50e6dfbdb180c581caa191027b75f9bf
The main drawback is the default algorithm, which is not yescrypt here.
P.S. Sorry for late answer and thank you for your work!

[2019-12-11 15:07] andreas-schwab opened #95 "error: inlining failed in call to 'salsa20'"
libxcrypt build fails on i586 with gcc 10:

alg-yescrypt-opt.c: In function 'blockmix_salsa8':
alg-yescrypt-opt.c:280:20: error: inlining failed in call to 'salsa20': --param max-inline-insns-single limit reached [-Werror=inline]
  280 | static inline void salsa20(salsa20_blk_t *restrict B,
      |                    ^~~~~~~
alg-yescrypt-opt.c:364:2: note: called from here
  364 |  salsa20(&X, &ou

[2019-12-11 16:29] solardiz commented on #95
Possible fix:

[code]

More elaborate version of this from JtR, but I think this is excessive portability for libxcrypt (inconsistent with the rest of it):

[code]

and use `MAYBE_INLINE` in place of `inline` further.

Please also see how yescrypt's `sha256.c` takes care of the `restrict` keyword. It does bother checking `__STDC_VERSION__ >= 199901L` as well as using gcc's `__restrict`. This is pr

[2019-12-11 16:31] solardiz commented on #90
Is there any reason why this issue is still not closed?

[2019-12-11 16:33] solardiz commented on #89
I suggest we close this issue. (Technically, I could close it myself, but I'd rather leave that to those more active with the project.)

[2019-12-11 17:38] zackw commented on #95
I'm inclined to fix this by turning off `-Winline`:

[code]

@andreas-schwab Can you confirm that that fixes the build with GCC 10?

@solardiz Is there any reason why the functions in alg-yescrypt-opt.c really _must_ be inlined?  A correctness reason, not a performance reason?

[2019-12-11 17:52] solardiz commented on #95
@zackw There's no correctness reason, only performance and lack of significant code size increase. When gcc refuses to inline these, I guess it might be considering the inlined function's size only and not considering the savings from not needing to pass parameters and the specialization of the function that inlining ultimately enables.

[2019-12-11 17:54] solardiz commented on #95
Regardless, I don't mind libxcrypt dropping `-Winline`, and I'll look into fixing this upstream separately.

[2019-12-11 18:00] zackw commented on #90
I'm inclined to agree with @solardiz that this should be closed with no action.  He's correct that, in general, C library functions that take "string" arguments should be expected to crash if they are given a pointer to a memory area that isn't NUL-terminated.

Also, the crypt.3 manpage doesn't use the term "failure token", but the generation of failure tokens _is_ documented:

     passphrase to

[2019-12-11 18:02] zackw commented on #90
Since nobody's been terribly active in libxcrypt development lately, I am going to leave this open for another week in case someone wants to argue with the logic above.

[2019-12-11 18:12] t184256 commented on #90
I'd like to preempt that I have no objections to closing this. After reading the explanations above, I see no issue with libxcrypt behavior or claims here.

[2019-12-11 18:17] zackw commented on #89
This was an intentional behavior change.  Silently increasing a cost parameter creates a potential interoperability problem.  Suppose two hosts are sharing the same password database (via NIS or similar protocol), and one of them silently increases cost parameters below some threshold, and the other *accepts* those cost parameters.  If a user last changed their password on the host that accepts th

[2019-12-11 18:17] #89 closed

[2019-12-11 18:22] zackw commented on #95
Thinking about it a bit more, even if you make changes to yescrypt to avoid this warning, we should drop `-Winline`.  We use aggressive warning settings and `-Werror` in all builds, because we want to fail the build if some unusual environment exposes a latent bug.  But `-Winline` isn't like that; it diagnoses compiler limitations and potential efficiency problems, not potential bugs.  We're just

[2019-12-11 18:40] #95 closed

[2019-12-11 18:41] zackw commented on #95
@andreas-schwab I tested with GCC 10 myself.  You will need both 45ff874 and the subsequent 941362e for a successful build.

[2019-12-28 23:08] rfc1036 opened #96 "Wrong SONAME for alpha and ia64"
A Debian porter noticed that alpha and ia64 use `libcrypt.so.1.1` instead of `libcrypt.so.1`.
I am not even sure that it is possible for libcrypt to use a SONAME like this, so for the time being I am patching libtool in the build directory:

`perl -i -pe '/^(library_names_spec|soname_spec)=/ and s/major/major.1/'`

[2019-12-29 01:23] zackw commented on #96
Good catch, thanks.  Unfortunately I don't think libtool supports sonames like this at all.  I've got an experimental branch in which we build with meson instead, and I'll see if that can do it.  (However, is it a potential problem for porters and/or new architectures if we use meson instead of autotools?  You'd know better than me/)

[2019-12-29 01:29] rfc1036 commented on #96
I have no experience at all with Meson, but since it is written in pure Python I suppose that it works on all Debian architectures.

[2020-01-03 15:30] besser82 commented on #96
From the perspective of bootstrapping new architectures from scratch there shouldn't be any problems as they need to be cross-compiled, which is perfectly supported by meson, on some existing system with a working Python3 to get a basic stage-1 image/tarball anyways.

[2020-01-17 19:56] #90 closed

[2020-01-30 13:02] besser82 commented on #95
Another issue with GCC 10.x on s390x only has been fixed in 0eb14f1e178a1ba9c897bb62db1f5ced3e6d9ab8.

[2020-02-11 18:30] zackw opened #99 "Coverage generation isn't working correctly on OSX with Homebrew gcc"
On Travis, postprocessing of test coverage information is failing catastrophically when we try to use Homebrew gcc on OSX:

[code]

There's a set of these errors for every source file, and we get no usable coverage information to upload.

This is probably a case of the `lcov` toolset being out of sync with Homebrew gcc's gcov, and someone with direct access to an OSX build environment should find

[2020-02-11 21:56] zackw commented on #99
On slightly further investigation, this is https://github.com/linux-test-project/lcov/issues/58 , which has been fixed in lcov trunk, but the fix has not yet appeared in an official release.  Ubuntu cherry-picked the patch, so it works in the Travis Linux environment, but Homebrew didn't.  I cannot figure out whether Homebrew "formulae" are capable of cherry-picking patches.  I'm going to file an

[2020-02-11 21:56] #99 closed

[2020-02-11 22:22] zackw commented on #99
https://github.com/Homebrew/homebrew-core/issues/50043

[2020-02-18 17:50] gzpapp opened #100 "static linking with openssh 8.2p1"
Trying to link statically link openssh 8.2p1 using libxcrypt instead of glibc's crypt fails:

/pkg/bin/ld: /usr/lib/libcrypt.a(libcrypt_la-crypt-static.o): in function `crypt':
/home/gzp/build.base/libxcrypt/src/4.4.12/lib/crypt-static.c:29: multiple definition of `xcrypt'; openbsd-compat/libopenbsd-compat.a(xcrypt.o):/home/gzp/src/openssh-8.2p1/openbsd-compat/xcrypt.c:101: first defined here

Any

[2020-02-18 18:20] zackw commented on #100
I think this is a bug in openssh, but some of our compatibility code may be
making it worse. Could you please send us the complete contents of
config.log from your openssh build?

[2020-02-25 17:29] gzpapp commented on #100
Sorry for the delay.
Instead of attaching the old config.log, I was picking up your commit and made an errorless build with the new libcrypt.a.
I'm confirming, the problem solved, thanks.

[2020-02-25 19:41] zackw commented on #100
@gzpapp Before I close this bug, could you please re-check that commit 823437d corrects the issue?  fea80d9 includes a bunch of other work that is still experimental and it's possible that I have not pulled out the part that actually solves your problem.

[2020-02-25 22:22] gzpapp commented on #100
@zackw Yes, commit 823437d corrects the problem, openssh 8.2p1 compiles fine statically with libxcrypt. Thank you!

[2020-02-26 13:58] #100 closed

[2020-04-18 15:03] rfc1036 opened #103 "Fails to build with gcc 10"
The package fails to build in a test rebuild on at least amd64 with gcc-10/g++-10, but succeeds to build with gcc-9/g++-9.

The full build log can be found at: http://people.debian.org/~doko/logs/gcc10-20200225/libxcrypt_4.4.10-10_unstable_gcc10.log

To build with GCC 10, either set CC=gcc-10 CXX=g++-10 explicitly,
or install the gcc, g++, gfortran, ... packages from experimental.

  apt-get -t=ex

[2020-04-18 15:04] rfc1036 commented on #103
This is [Debian bug #957484](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=957484).

[2020-04-18 15:45] besser82 commented on #103
From the [NEWS](https://github.com/besser82/libxcrypt/blob/develop/NEWS) file:

[code]

If you really need to stick with v4.4.10, then you need to cherry-pick the following commits:

* https://github.com/besser82/libxcrypt/commit/45ff87405a6f2ee64ec282e6efc6cca229eae893
* https://github.com/besser82/libxcrypt/commit/941362e2868a71a32a2a497903e651fb647b4fd2
* https://github.com/besser82/libxcrypt/c

[2020-04-18 15:47] rfc1036 commented on #103
Indeed, sorry for the noise: I did not notice that an old version was rebuilt.

[2020-04-18 15:48] besser82 commented on #103
No problem.  =)

This issue can be closed then?

[2020-04-18 16:00] #103 closed

[2020-05-11 20:16] grinapo opened #104 "Argon2"
I have observed that a search for "argon2" didn't come up with anything relevant in the issue tracker (apart from honourable mentions in a yescrypt discussion), which is pretty much a surprise to me.

Is there any plans to have Argon2 supported? It seems to be one of the most recommended pwhash nowadays, obviously heavily influeced by the PHC.

[2020-05-11 20:30] zackw commented on #104
Huh, I thought we already had an open wishlist item for argon2 but I guess we don't.

We would certainly consider a patch or PR to add argon2.  The main reasons I haven't done it already are lack of time and the fact that the reference implementation is a fairly bulky library.

[2020-05-12 09:15] besser82 commented on #104
Well, given the circumstance that `cryptsetup` already interfaces `libargon2.so` (reference implementation), wouldn't it make sense, when we would do the same instead of bundling?

[2020-05-12 12:24] simo5 commented on #104
2 cents:
- the argon2 RFC is not finalized yet, I would wait until that's the case.
- embedding would avoid a dependency, but, as long as libargon2 could be selected via configure flag I guess it i not a big deal to have it as a dep.

[2020-06-26 13:14] mzealey opened #105 "Underscores in MD5 salts rejected"
So, on a glibc-2.17 based Centos 7 system the following happens:

[code]

But on ubuntu (libxcrypt 4.4.10-10ubuntu4):

[code]

and on centos 8 (libxcrypt-devel-4.1.1-4.el8), it produces an empty string and I think an 'invalid argument' message.

If this library is meant to be backwards-compatible it should presumably emulate the behaviour of the centos 7 algo? I don't know much about the salt, but

[2020-06-26 15:34] besser82 commented on #105
Hello,

and thanks for your question.

Having an underscore character `_` in the salt portion violates the Modular Crypt Format (MFC) string.

Let me explain a bit:

An MFC string is formatted as `${algo_id}[[$]{rounds_or_settings}]${salt}[${hash}]`.  Although there is no official technical specification, it is agreed upon all characters used in such a string must be valid BASE64 encoding: `[a-zA-

[2020-06-26 18:57] solardiz commented on #105
@besser82 You didn't ask me, but FWIW I would have treated this rejection of historically accepted unusual (not even invalid) md5crypt salts as a libxcrypt bug.

Like you say, "there is no official technical specification" on what characters the salt string may contain, except with hashes like bcrypt and descrypt where the salt is decoded before being used.

(I also wouldn't have changed glibc's d

[2020-06-26 19:09] mzealey commented on #105
I agree that the behaviour here is in terms of rejecting non-base64 characters is correct according to the spec (whether written down or generally understood), however the aim of this project is to be a drop-in replacement for glibc's libcrypt then this is not happening here. Centos 6 & 7 glibc have this behaviour so it would seem to be a fairly mainstream 'bug' - perhaps 'feature' or 'implementat

[2020-06-26 19:11] mzealey commented on #105
Note also that these password salts were generated by older cpanel versions (they now use sha512 or so by default), however many of these hashes are still around. cpanel does not currently support centos 8 so most hosters are using centos 7. However I can imagine this bug being fairly widely seen once the cpanel centos 8 upgrade is available.

[2020-06-26 19:20] besser82 commented on #105
Let me setup a RHEL 7 VM and do some tests how `sha256crypt` and `sha512crypt` act upon unexpected characters in the salt…  I will adjust libxcrypt then to behave the same way for the hash functions in question.

@solardiz Sorry for not asking you about this, too.  I know you are a quiet busy person, and didn't want to bother you in the first place.  Good to know I can explicitly put you in the lo

[2020-06-26 19:40] besser82 commented on #105
Okay, it seems libcrypt on RHEL / CentOS 7 takes _any_ chars (non-printable as well as printable) as a valid salt for `{md5,sha256,sha512}crypt`.  I'm going to release a patch for libxcrypt within the next few days.

[2020-06-26 20:02] solardiz commented on #105
No problem about not asking me - I didn't mean to complain.

Maybe it makes sense to deliberately reject `$` and `: ` and `\n` inside salt strings for these hashes. For `$`, it can simply be not supporting it rather than needing to reject it explicitly, depending on how the preceding parsing works.

[2020-06-27 20:02] besser82 commented on #105
@mzealey I hope my solution in #106 works for you.

[2020-06-27 20:09] mzealey commented on #105
Looks great, thanks for your hard work!

[2020-06-27 20:13] besser82 commented on #105
np, you're welcome!

[2020-06-27 20:25] rfc1036 commented on #105
Did you check if all the other characters actually need to be accepted because something is really using them as salt or if _ is enough? Since ~everybody will enable this then maybe it's a good idea to be conservative and start from just allowing the characters which we know that are being used.

[2020-07-09 21:37] rfc1036 commented on #96
Actually the soname is wrong only on alpha, ia64 is "standard".

[2020-08-12 04:36] s-punithkumar opened #107 "alignas (max_align_t) compilation error for x86_64 with glibc-2.21"
Hi,

Seen below error while compiling for x86_64 using glibc 2.21 same was working good with glibc 2.27

OpenWrt-libtool: compile:  ccache_cc -DHAVE_CONFIG_H -I. -I./lib -DIN_LIBCRYPT -Istaging_dir/target-x86_64_glibc-2.21/usr/include -Istaging_dir/target-x86_64_glibc-2.21/include -Istaging_dir/toolchain-x86_64_gcc-4.8-linaro_glibc-2.21/usr/include -Istaging_dir/toolchain-x86_64_gcc-4.8-linaro_gli

[2020-08-12 10:25] besser82 commented on #107
@s-punithkumar Thanks for the finding and for the patch!

[2020-08-13 13:39] #107 closed

[2020-08-13 16:49] besser82 commented on #24
Re-opening as GCC 10.2 supports the needed initial bits now.

[2020-08-14 15:51] solardiz commented on #24
Here's a different perspective, which might or might not be helpful:

LTO feels primarily like an unjustified risk to me: exposing potential cross-translation-unit instances of undefined behavior, making them actually manifest themselves, sometimes as security vulnerabilities. Do we really want that? What for? Instead of supporting LTO, how about explicitly not supporting it - making attempted bui

[2020-08-17 02:33] SomeAB opened #110 "Can't make/gmake on FreeBSD 12.1"
Platform: FreeBSD 12.1 64-bit (running inside Vmware Workstation Player 15) - 4 GB RAM
libxcrypt Release: 4.4.16

1. The Installation file says to use 'make' .. but when I try ./configure MAKE="make" it give me errors.
a. bash ./autogen.sh output : http://bsd.to/cmc4
b. ./configure or ./configure MAKE="make" .. it gives me following error/output: https://bsd.to/nxDe

2. When I use gmake (4.3) inst

[2020-08-17 19:18] zackw commented on #110
Hi, thanks for your interest in using libxcrypt on FreeBSD.  We would be happy to consider patches to improve binary compatibility with the system-provided libcrypt on this platform.

I'm able to reproduce this on a FreeBSD 11 host, using autoconf 2.69 and automake 16.1.  This is a limitation in Automake; it does not support BSD make adequately.  There's not much I can do about it other than addin

[2020-08-17 19:48] SomeAB commented on #110
Hello Zach. Thank you for taking note of it.

Yeah, I'm using libxcrypt on FreeBSD because the crypt(3) on 12.1 doesn't have Salt Generation functions like the OpenBSD crypt(3). I wish I could find a way to safely generate salt somehow in my C code. I did manage to use arc4random_buf to generate random bytes.

Ran the following tests just now on git-clone (4.4.17 version)
- yes I just checked that

[2020-08-17 20:38] SomeAB commented on #104
NETBSD added Argon2 algo to its crypt(3) btw: https://netbsd.gw.com/cgi-bin/man-cgi?crypt++NetBSD-current

[2020-08-18 15:25] zackw commented on #104
Is there a second independent implementation of Argon2 yet?  This is desirable for verifying interoperability.

[2020-08-18 15:38] zackw commented on #104
The [Argon2 draft RFC](https://datatracker.ietf.org/doc/draft-irtf-cfrg-argon2/history/) is in a late stage of the IRTF process and does not appear to have changed very much in some time.  In particular the test vectors have not changed since [draft-irtf-cfrg-argon2-02](https://datatracker.ietf.org/doc/draft-irtf-cfrg-argon2/02/) which was published in March 2017.  So I think the risk of implement

[2020-08-18 17:21] #105 closed

[2020-08-18 21:32] besser82 commented on #110
@SomeAB Can you please confirm #111 fixes the problem with `unistd.h` and `struct crypt_data` for you?

[2020-08-20 09:17] SomeAB commented on #110
Hi Besser82

I just tested it with the following:
`git clone --single-branch --branch topic/besser82/issue_110 https://github.com/besser82/libxcrypt.git
./autogen.sh
./configure MAKE="gmake" --disable-dependency-tracking
gmake
`

didn't work, got a new error:
`/usr/local/bin/ld: .libs/libcrypt.so.2.0.0: version node not found for symbol crypt_checksalt@@XCRYPT_4.3
/usr/local/bin/ld: failed to set

[2020-08-20 15:50] zackw commented on #110
That's a _different_ problem; we've gotten past the unistd.h type conflict successfully.  I need to see the complete `libtool` command line that should have appeared a few lines above the error message you quoted.  I also need to see the contents of the file `libcrypt.map` which should be at the top level of your build directory.

[2020-08-20 23:06] SomeAB commented on #110
Here is my complete terminal output (319 lines only) from start to finish: https://pastebin.com/FCh2mF2k
Here are the contents of the libcrypt.map:

[2020-08-25 17:28] SomeAB commented on #110
any update on this @zackw ?

[2020-08-29 19:45] besser82 commented on #110
@SomeAB With the two commits added in #111, I can compile successfully from a fully clean (`git clean -dfx`) sourcedir on FreeBSD 12.1 x64_86.  The testsuite fully passes and all seems to be fine.

Can you please retry and confirm?

[2020-08-30 11:43] SomeAB commented on #110
nope. I'm still getting the exact same error as above on gmake. I also did `rm -R libxcrypt` to remove all file in that folder, before trying again (besides trying 'git clean -dfx' and then starting from ./autogen.sh'

[2020-09-09 19:53] SomeAB commented on #110
I hope @zackw is okay as well, and gets time to see into this soon.

I too got infected with COVID19 around the time I last commented. Thank Almighty, I'm nearly recovered now, just waiting for quarantine period to end.

thanks for the good work guys.

[2020-10-10 11:32] ferivoz commented on #104
Cryptsetup uses Argon2, KeePassXC uses Argon2, but shadow stores my root password as SHA512 by default. To get Argon2 support started, I have created a branch with it.

Feel free to give me feedback!

[2020-10-12 15:56] #110 closed

[2020-10-12 15:57] besser82 commented on #110
@SomeAB If you still have issues building, please open a new issue, as the initial problem here has been solved.

[2020-12-10 01:43] zackw opened #115 "Replace awk and shell scripts with Python or Perl?"
Quite some time ago I rewrote our large and unwieldy collection of build-time shell and awk scripts in Python 3: https://github.com/besser82/libxcrypt/commit/7a2ce7d549293a1ab971fb16f3d65fa5124808da  (Then I got a little overambitious and tried to get rid of libtool as well, and then the day job intervened and I haven't touched the code in months.)

I would like to dust this patch off and merge it

[2020-12-10 02:12] rfc1036 commented on #115
Thank you for your concern. In Debian/Ubuntu a significant subset of Perl is an Essential package, hence due to its pervasivity in the distribution it will be around since the early bootstrap of a port. Python would probably require a long period of cross-compilation of the package.

[2020-12-15 01:54] zackw opened #116 "skip-if-exec-format-error doesn't work"
I have discovered that skip-if-exec-format-error doesn't work reliably.  Observe:

[code]

but

[code]

What on earth?  Turns out that on most Unixes, the C library routine `execvp` will run `/bin/sh argv...` if the attempt to invoke `argv[0]` fails with ENOEXEC.  If there are NULs in the first few dozen bytes of the file, /bin/sh will generate the "Exec format error" message, but if they're aren'

[2020-12-19 01:30] solardiz commented on #115
@zackw In Owl, we chose not to have Python in the distro at all. This took some effort to untie a few components from Python (e.g., RPM), but luckily there were not too many and the ties were not too tight. Since then, I hear recent glibc requires Python for build? I don't know what we'd have done if we wanted to revitalize and update Owl. I guess needing to bite the Python bullet would be yet ano

[2020-12-23 13:35] fweimer commented on #115
I don't have an opinion here. All distributions I have worked on have both Python and Perl, and do not have any issues building packages with either.

[2021-01-21 15:35] btwe commented on #105
Pfew, this one lead to an erratic error during user authentication of our ldap users. The hashes were generated some time ago with another lib for >6.5k users (rehashing is no option). And some few of them have unsupported chars in their salt (+).
This issue occured after upgrading to centos8. Centos 8.3 still has the unpatched version in their repos. Could push them urgently to update libxcrypt i

[2021-01-22 10:28] MilanKral opened #117 "SHA245, SHA512 rounds are too low"
The default number of SHA245, SHA512 iterations is 5000.
#define ROUNDS_DEFAULT 5000

This is too low to be considered secure again even moderate GPU, ASIC attacks.
Please increase the default number to 100000

A modern desktop computer can compute 10 000 000 SHA256 iterations in about 5 seconds

[2021-01-25 22:06] zackw commented on #115
I never answered this question:

They are functional as is, but it is difficult to modify them, and they're at about the limit for what I consider practical to achieve in sh+awk.  For instance, the `crypt.conf` work stalled out partially because I wanted to machine-generate the parser from tables of valid values for each parameter for each hash, but extending `hashes.conf` with more fields is just

[2021-02-21 03:45] asavah opened #120 "autotools $(LN_S) fails if symlink/file already exists"
In case of inplace upgrade libxcrypt 4.4.18 `make install` fails due to already existing symlink(s).
[code]

All these and more will fail if file/symlink already exists.
https://github.com/besser82/libxcrypt/blob/develop/Makefile.am#L138-L140
https://github.com/besser82/libxcrypt/blob/develop/Makefile.am#L237-L239
https://github.com/besser82/libxcrypt/blob/develop/Makefile.am#L252-L254

Edit: quic

[2021-02-28 10:48] dottedmag opened #121 "v4.4.19 tag is missing"
Latest commit bumps version to 4.4.19, but the tag is missing from the repo.

[2021-02-28 10:49] dottedmag commented on #121
Oh, I'm blind. The bump is post-release. Sorry.

[2021-02-28 10:49] #121 closed

[2021-03-16 08:10] ffontaine opened #122 "Build failures on arc and nds32 architectures"
libxcrypt has been recently added to buildroot and it raises build failures with glibc on "exotic" architectures such as arc and nds32. These build failures are raised because those architectures are not defined in https://github.com/besser82/libxcrypt/blob/develop/lib/libcrypt.minver resulting in the following error:

[code]

or

[code]

I'm seeking advise to know how these failures should be han

[2021-03-16 13:02] zackw commented on #122
I am not familiar with buildroot, but using `--disable-obsolete-api` is recommended whenever possible.  As long as you never need to use the buildroot environment to run old binaries that were compiled outside the environment and make use of glibc's libcrypt, you shouldn't need the binary-compatible `libcrypt.so.1`.  The "obsolete" APIs that are removed from the build by this option are insecure (

[2021-03-16 15:28] ffontaine commented on #122
`--disable-obsolete-api` is working perfectly fine and it fixes the build failures. Following your feedback, I'll use it on buildroot to disable the obsolete and unsecure API for all architectures.
FYI, concerning NDS32, there is no `libcrypt.abilist` provided inside the toolchain.
I'm closing this issue.

[2021-03-16 15:28] #122 closed

[2021-03-16 16:09] zackw commented on #122
@ffontaine Can you tell me whether your build of glibc on NDS32 produces an installed `libcrypt.so.1`?

[2021-03-16 16:34] ffontaine commented on #122
Here is the result of `find output/ -name libcrypt*`:

[code]

[2021-03-16 16:36] ffontaine commented on #122
It should be noted that this is an **external** (i.e. prebuilt) toolchain.

[2021-03-18 10:44] kanavin opened #123 "compute-symver-floor sporadically fails"
Sadly since introduction of compute-symver-floor the Yocto project sees sporadic failures of that script, e.g. here:
https://autobuilder.yoctoproject.org/typhoon/#/builders/20/builds/3504/steps/11/logs/stdio

[code]
Unfortunately at the moment I can't provide more information about what goes wrong at ./configure step - perhaps the script and configure.ac could be first hardened to fail when this h

[2021-03-18 12:43] zackw commented on #123
Commit f0ca1fe2275381f37b21faede6ae873986636254 should move the sporadic failure from the ‘make’ step to the ‘configure’ step.  You'll get an error message like this:

[code]

instead of build scripts malfunctioning because SYMVER_FLOOR isn't set.

To diagnose the actual bug we will need to see the contents of `config.log` when the failure happens.  The relevant bit will, unfortunately, be somewhe

[2021-03-18 12:44] zackw commented on #123
@besser82 When you get a chance could you put out a 4.4.19 release? f0ca1fe, 86d1e4e, and 30f89f4 are all pretty important for redistributors.

[2021-03-18 18:24] kanavin commented on #123
Thanks @zackw , is it feasible to print the error directly to stdout/stderr though?

Getting special log files out of CI systems can be awkward, especially if the error is sporadic and not easily reproducible locally.

[2021-03-18 20:12] zackw commented on #123
Due to the way configure scripts work, that would be very difficult.  Can you change your configure _invocation_ to something like this?

[code]

(I'd recommend doing this in your build harness for _all_ packages that use Autoconf configure scripts.  They always generate a log file with this name and it often contains valuable debugging information.)

[2021-03-18 21:30] kanavin commented on #123
Thanks, we'll do this for libxcrypt at least, but we need the version with the fix first :)

[2021-03-18 21:54] kanavin commented on #123
We managed to get the failing config.log:
https://autobuilder.yocto.io/pub/logs/config.log

The critical bit of information seems to be:
[code]

[2021-03-18 21:56] kanavin commented on #123
[config.log](https://github.com/besser82/libxcrypt/files/6167430/config.log)

[2021-03-31 06:58] besser82 commented on #24
Accidentally closed this.

[2021-03-31 07:31] #120 closed

[2021-04-17 01:44] rhclayto opened #124 "Missing INSTALL file?"
The README says ' Follow the generic build and installation instructions in the file INSTALL.' However, I cannot find the INSTALL file.

[2021-04-17 01:46] rhclayto commented on #124
Nevermind, should have read the whole thing: 'Run ./autogen.sh at the top level of the source tree, and then follow the instructions in INSTALL (which is created by that command).'

[2021-04-17 01:46] #124 closed

[2021-04-17 02:03] rhclayto opened #125 "configure.ac:58: error: possibly undefined macro: LT_SYS_SYMBOL_USCORE"
When running autogen.sh, I get:

[code]

Ubuntu 20.04, with the following packages installed:

 cmake autoconf-archive build-essential libtool automake autoconf pkg-config

Commenting out the following allowed it to complete (no idea if this will break anything):

[code]

[2021-04-17 02:06] rfc1036 commented on #125
`apt install libltdl-dev`

Also, if you want to work on libxcrypt on Debian/Ubuntu you should really start from the Debian package.

[2021-04-17 02:28] rhclayto commented on #125
Thank you, that worked. I also didn't know about the package, thanks for the heads up.

[2021-04-17 02:28] #125 closed

[2021-04-30 13:29] rpurdie commented on #123
I think https://github.com/besser82/libxcrypt/pull/126 may be the cause of the issues we were seeing. You can reproduce with CFLAGS with a leading space. Sadly the error is still silent and doesn't cause a build failure even after the recent changes, wasn't sure how to fix that.

[2021-05-01 05:00] besser82 commented on #123
@kanavin Can you confirm fed81d1a98fab52839b60a55447d368899034847 will fix this issue?

[2021-05-01 11:49] kanavin commented on #123
I believe so - @rpurdie and myself are in the same project, so he's just taken time to look into it properly :)

[2021-05-01 17:39] besser82 commented on #123
Allrighty, will create the 4.4.20 release then.

[2021-05-01 17:46] besser82 commented on #123
`v4.4.20` has just been released.

[2021-05-01 17:46] #123 closed

[2021-05-02 20:53] hyder365 opened #127 "signed releases"
Currently neither the git tags  nor the release tarballs are PGP signed. It would be great if you could sign the tags and/or provide signed tarball files for downstream packagers. The current key is also expired.

[2021-05-28 16:35] andyrtr opened #129 "4.4.22 forces new password - looks out of root account"
Updating from 4.4.20 to 4.4.22 forces the user to set up a new password. The same is forced for root login. But that fail and no root login is possible anymore. I had to chroot into the system to rollback the update to be able to login again.

andyrtr@workstation64:[/tmp/libxcrypt/trunk]$ LANG=C su
Password:
You are required to change your password immediately (administrator enforced).
su: Authent

[2021-06-05 16:46] besser82 commented on #129
Sorry, for replying a bit late.

What are the first five characters of the hashed passwords for the root user in `/etc/shadow` on your system?  There are some hash methods, that are considered too weak to be used for computing password hashes, which may be your problem.

The mechanism for identifying such hashes has been included in libxcrypt and Linux-PAM since some releases, but was not enforced

[2021-06-05 17:34] andyrtr commented on #129
root:$1$mg...

It's not a complex pw and I usually don't change it (a privat home system, not critical).

[2021-06-05 18:23] besser82 commented on #129
Whoa, md5crypt is ancient…  I can assume safely you didn't change it since 2007 or so?

The md5crypt method is really dangerously weak:  https://www.cvedetails.com/cve/CVE-2012-3287/

I'd really recommend you to change the password, so it will get hashed with the (yet to be considered) strong sha512crypt method, and libxcrypt will be happy with it.

The change in v4.4.21 was really intended to mak

[2021-06-05 18:43] andyrtr commented on #129
Confirmed. Changing my pw to a new one (and back) seems to fully solve this issue.

Well, this is an issue you can run into when your rolling release distro works so well that you never have to reinstall it again... Now we need to work out a safe way for users that may run into this issue the same way. Thanks for your help.

[2021-06-05 18:48] besser82 commented on #129
You're welcome!  Let's try work out a way using email and native language.

[2021-06-05 18:48] #129 closed

[2021-06-05 18:56] eworm-de commented on #129
To recap... The issue happens if you set the old password again?
Please CC me in your mail conversation...

[2021-06-05 19:18] andyrtr commented on #129
With the old pw used again everything works well because the new sha512 is used.

The update path was broken for me. The user was forced to set a new pw but for any direct root login or "su" it immideatly failed as stated here at the beginning.

I guess this should be reproducible using "ENCRYPT_METHOD=md5 passwd".

[2021-06-09 22:35] msharov opened #130 "4.4.22 disables SHA256 for no reason"
SHA-256 is still a strong hash, with no currently known attacks, yet you have now marked it as LEGACY and are forbidding its use. This is a mean thing to do. Please reinstate.

[2021-06-09 22:51] msharov commented on #129
Changing the password does not fix the problem if you have specific hash set in the pam configuration. Doing that was previously recommended for setting the hash and its
parameters, such as:
[code]
With this configuration in place, changing the password does log you in, but the password remains stored as sha256 and you get prompted to change the password again on the next login.

Additionally, the

[2021-06-10 13:19] solardiz commented on #130
Not "for no reason". Please see https://github.com/besser82/libxcrypt/commit/e334b064966a5604ecf534f45e95fbc70be93c94#r51670865

However, forcing password changes might be unnecessarily harsh, and the upgrade from sha256crypt to sha512crypt might be too minor to force it like that.

[2021-06-10 13:43] zackw commented on #130
Note that libcrypt does not set policy. We export one function, `crypt_checksalt`, that reports compiled-in information about hashes that are supported. Before 4.4.22, it only told callers whether any given hash had been enabled at compile time (`CRYPT_SALT_OK`) or disabled at compile time (`CRYPT_SALT_INVALID`). The change in 4.4.22 was to add a third possible return value, `CRYPT_SALT_LEGACY`, w

[2021-06-10 13:44] msharov commented on #130
Those are not good reasons.

A single bit of difference in cracking strength is negligible for any practical purpose. Leaking password length is also irrelevant, because nobody uses passwords longer than 32 characters, and if they do, knowing whether a password is 32 chars or 33 gives no practical benefit to the attacker; neither is practical to crack.

The cost of moving to sha512, on the other h

[2021-06-10 13:47] zackw commented on #130
@msharov I think we were both writing responses at the same time. Again, could you please provide more details about the system where a password hashed with sha256crypt is no longer accepted for authentication? I think this is actually a bug in your `login` and would like to discuss this with its maintainers.

[2021-06-10 13:54] ldv-alt commented on #130
On Thu, Jun 10, 2021 at 06:43:28AM -0700, Zack Weinberg wrote:

It's pam_unix, the culprit is
https://github.com/linux-pam/linux-pam/commit/4da9febc39b955892a30686e8396785b96bb8ba5

This libxcrypt bug report is incorrect, I suggest closing it.

[2021-06-10 13:59] msharov commented on #130
My Arch distribution upgraded to 4.4.22 recently and I have ran system updates yesterday. After rebooting, I was unable to login. Logging in as root forced me to change the password, after which the login failed. I had to boot from external media and try stuff cluelessly and fruitlessly for a few hours, which annoyed me to no end. Finally, I checked Arch website, where your hash deprecation was fr

[2021-06-10 14:02] solardiz commented on #130
Not to defend the bad experience you got with Arch overall (it does sound like a distro bug to me, and perhaps some package will need to be fixed), but to address a specific misunderstanding:

Quoting from a comment I wrote in #35:

"in sha256crypt there are very noticeable (tens of percent) differences in running time for realistic and attack-relevant password length ranges - e.g., for 7 vs. 8 or

[2021-06-10 14:19] ldv-alt commented on #130
I suggest closing this libxcrypt bug and tracking the pam_unix bug in https://github.com/linux-pam/linux-pam/issues/367 instead.

[2021-06-10 14:27] msharov commented on #130
My apologies. It appears that PAM is the one at fault here. I have been annoyed at them before :)

[2021-06-10 14:27] #130 closed

[2021-06-10 14:29] zackw commented on #130
@solardiz I'm tempted to resolve the sha{256,512}crypt part of this argument by _removing_ sha512crypt from the strong set, thus pleasing no one. ;-)

[2021-06-10 14:37] zackw commented on #117
I keep forgetting to get back to you about this, sorry.

You're quite correct that the default rounds settings for SHAxxx hashes (and several others) are too low.  However, we cannot change `ROUNDS_DEFAULT` because that would change the interpretation of existing hashed passphrases: `$5$saltstring$...` must continue to be processed with 5000 rounds.  Also, new defaults will need to depend on what

[2021-06-10 14:39] zackw commented on #115
Addressed via #118.

[2021-06-10 14:39] #115 closed

[2021-06-20 21:58] 0n1cOn3 opened #133 "some undefined reference (utils.c)"
Hey

Iv compiled lxcrypt under Ubuntu 20.04 and run make and i am getting the following error:

gcc -pipe -Wall -D_LINUX -D_OPENSSL_MD4 -g3  asleap.c -o asleap common.o utils.o sha1.o -lpcap -lxcrypt -lcrypto
/usr/bin/ld: utils.o: in function `DesEncrypt':
/home/hx/tmp/asleap/utils.c:179: undefined reference to `setkey'
/usr/bin/ld: /home/hx/tmp/asleap/utils.c:182: undefined reference to `encrypt'

[2021-06-20 22:00] 0n1cOn3 commented on #133
Oops, wrong project!

[2021-06-20 22:00] #133 closed

[2021-06-20 22:15] zackw commented on #133
@0n1cOn3 FYI, `setkey` and `encrypt` implement the obsolete DES block cipher.  This cipher is no longer considered secure, as modern computer hardware can crack it by brute force. Also, these functions are awkward to use, slow, and not thread-safe.

I see that asleap is a penetration testing tool, so it may still have legitimate uses for DES, but it should be using the implementation in libcrypto.

[2021-07-01 00:33] mattst88 opened #134 "Release tarballs generated with `make dist`"
Hello,

We're in the process of transitioning to libxcrypt in Gentoo. We noticed that there's an annoying circular dependency that would be avoided if libxcrypt's tarballs were generated with `make dist` and thus included a generated `configure` script.

The dependency loop is: libxcrypt depends on automake to process libxcrypt's `Makefile.am`s, and automake requires perl, which requires libcrypt.

[2021-07-01 01:12] zackw commented on #134
Thanks for the suggestion!  Right now we have no CI and therefore no clean environment to generate tarballs in, but once we finish transitioning to Github Actions, this should be possible.  See #131 to track progress on the transition.

I regret to say this will _not_ be possible.  perl is used during the build proper, to generate code dependent on configure options, and there's probably going to

[2021-07-01 01:27] mattst88 commented on #134
Thanks!

Acknowledged. We realized that shortly after posting this issue.

[2021-07-07 11:36] OleHolmNielsen commented on #105
We have been bitten by the issue of user logins being rejected on CentOS 8.4 (and all other EL8 variants) as well as FC34, which was caused by the user's SHA512 password hash having one or more "+" characters in the salt.  Such SHA512 hashes are generated by the university's central IT service on Windows systems, and such hashes ought to be valid according to libxcrypt's  crypt(5) man-page:
[code]

[2021-07-07 12:07] OleHolmNielsen commented on #105
I have a trivial test code for the crypt() function on a CentOS 8.4 system:
[code]
When executing this code we get a core dump when non-standard characters are used in the salt:
[code]
CentOS 8.4 has a libxcrypt-4.1.1-4.el8.x86_64 RPM.

Interestingly, the code does not core dump on CentOS 8 Stream:
[code]
with a slightly newer libxcrypt-4.1.1-6.el8.x86_64 RPM.

[2021-07-07 17:11] zackw opened #135 "Make generic code, hashing methods, and documentation agree re forbidden characters in hashes"
`crypt.5` currently says

However, our generic code [currently only enforces the absence of ‘:’ and newline](https://github.com/besser82/libxcrypt/blob/ff1bfae58b5fa9bfd53f6acdaffcd09274ad6fc6/lib/crypt.c#L131).  Prior to 2112d2bb95f294846df61180003f079078a3f83d, there was no generic check at all.  Prior to b2b813adbd9d7cc7d20a9b984ef27b64df8c15d9, some but not all hashing methods implemented much

[2021-07-07 17:20] zackw commented on #105
@OleHolmNielsen First off, I'm pretty sure your test program segfaults because `crypt()` is returning NULL.  Can you confirm?

We have been allowing `+` in salts since b2b813adbd9d7cc7d20a9b984ef27b64df8c15d9; I believe the oldest upstream version with this change is 4.4.17.  Looking at the change log on <https://centos.pkgs.org/8-stream/centos-baseos-x86_64/libxcrypt-4.1.1-6.el8.x86_64.rpm.html>,

[2021-07-07 18:26] OleHolmNielsen commented on #135
Would the POSIX.1-2017 standard for the crypt() function be the best choice for characters?  POSIX declares in
https://pubs.opengroup.org/onlinepubs/9699919799.2018edition/functions/crypt.html that only the following characters may be used in the salt:
[code]

[2021-07-07 18:46] OleHolmNielsen commented on #105
I confirm that crypt() returns NULL on CentOS 8.4.  I added code to display the error:
[code]
The same binary works on CentOS 8 Stream:
[code]
So CentOS and RHEL 8.4 don't like "+" in the salt strings, whereas CentOS 8 Stream accepts "+" happily.

[2021-07-07 19:26] besser82 commented on #135
Basically there are several RFCs defining base64 encoding tables for different applications.  And there is the POSIX base64 table for MCF.

If I compare them there are just a few different characters allowed in them: `+-_,=`, besides the POSIX MCF table.

Then we have two known ways to consume those salt characters by the hash methods:

1. Just use them as a c-string for computation, e.g. sha{256,

[2021-07-07 19:28] zackw commented on #135
I think it's going to have to be ok if specific hashing methods place _more_ restrictions on their salt than the generic code does.

[2021-07-07 19:32] besser82 commented on #135
+1

So I guess, we *can* safely allow the MCF dialect + `+-_,=` by the generic check, but need to ensure a stricter check for some  methods, which translate the base64 salt back into raw bytes.

[2021-07-07 19:43] rfc1036 commented on #135
FWIW, my mkpasswd (from the whois package) mandates that salts comply with the POSIX.1-2017 list for all methods. I see that I added this check in version 4.5.7 in 2001 but I cannot remember why.

[2021-07-07 20:13] zackw commented on #135
@rfc1036 The only potential problem I can see with passphrase-_enrollment_ programs like `mkpasswd` limiting themselves to the POSIX.1-2017 alphabet, is that Argon2 uses the RFC 4648 base64 alphabet instead.

The issue for libxcrypt, however, is that if we impose restrictions then we may break _validation_ of existing hashed passphrases.

@besser82 Here's how I'm thinking about it: we know we need

[2021-07-07 20:18] zackw commented on #135
Unrelatedly, and for the record, I am not planning on working on any code components of libxcrypt until we have working CI again. ;-)

[2021-07-22 13:35] packit-as-a-service[bot] opened #137 "[packit] Invalid config"
Failed to load packit config file:
[code]
For more info, please check out the documentation: https://packit.dev/packit-as-a-service/ or contact us - [Packit team](https://github.com/orgs/packit/teams/the-packit-team)

[2021-07-22 15:59] zackw commented on #137
Transient glitch caused by failure testing on a branch.  Closing.

[2021-07-22 15:59] #137 closed

[2021-08-08 19:22] #135 closed

[2021-08-10 17:20] mattst88 commented on #96
I can confirm that glibc installs `libcrypt.so.1.1` on alpha (and libc.so.6.1, presumably due to the same SONAME bump long ago):

[code]

while libxcrypt installs `libcrypt.so.1`:

[code]

On Gentoo, we rebuilt reverse dependencies of libcrypt when doing this transition, so it was not a problem for us. I believe this would have been a problem for a binary distribution that would necessitate a rebu

[2021-09-17 06:02] ffontaine opened #140 "Build failure on Microblaze since version 4.4.19"
Build fails on Microblaze since version 4.4.19 and 38f7f06ec358561a01636f0d990ed98051b9120a because libxcrypt assumes that all architectures support `.symver` attribute with gcc 10:

[code]

However, this is a wrong assumption for Microblaze: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=101766.
This build failure could be fixed by adding a test in autotools to check for `.symver` availability. We

[2021-09-17 08:12] besser82 commented on #140
@ffontaine Can you please check and verify, whether the referenced PR will fix your issue?

[2021-09-17 08:43] ffontaine commented on #140
Nope, the PR doesn't work.
[code]
should be replaced by (inspired by https://github.com/libfuse/libfuse/pull/620/commits/3aba09a5c56e017746c5c1652dbc845f4db7374a):
[code]

[2021-09-17 09:03] besser82 commented on #140
Can you please retry with the updated PR?

[2021-09-17 10:50] ffontaine commented on #140
Unfortunately, this is still not working.

[2021-09-17 12:45] ffontaine commented on #140
The issue is still that

[code]

is building fine whereas

[code]

raises a build failure.
But I'm not an expert in symver attribute.

[2021-09-17 14:45] besser82 commented on #140
Sry, I didn't realize the `static` declarations in my testcase until now…

I hope, things will work as expected with the updated PR.

[2021-09-17 16:13] ffontaine commented on #140
Yes, the updated PR is working fine, thanks for taking time to fix this issue.

[2021-09-17 16:40] #140 closed

[2021-09-17 16:43] besser82 commented on #140
You're welcome!

I've tagged `v4.4.26` as a new version shipping this fix.

[2021-09-17 21:20] hyder365 commented on #127
Ping?

[2021-09-18 12:15] besser82 commented on #127
First signed release: https://github.com/besser82/libxcrypt/releases/tag/v4.4.26

[2021-09-18 12:15] #127 closed

[2021-09-18 12:15] besser82 commented on #134
First signed release: https://github.com/besser82/libxcrypt/releases/tag/v4.4.26

[2021-09-18 12:15] #134 closed

[2021-10-21 06:02] mgorny commented on #104
The RFC has been published last month.

[2021-10-22 02:18] galaxy4public opened #142 "Building with no symbol versioning is broken"
TL;DR -- `./configure --disable-symvers` produces a configuration one cannot actually build since it will fail during the "make" phase.

Although `./configure` provides an option to disable symbol versioning (i.e. `--disable-symvers`) it does not really work since there are multiple places in the source code where symbol versioning is engaged.  For starters, the `./build-aux/scripts/gen-crypt-symb

[2021-11-01 01:34] thesamesam opened #144 "test/explicit-bzero fails on sparc with GCC 10"
[code]

Noticed when working on migrating away from glibc's libcrypt downstream in Gentoo. Originally filed this bug [here](https://bugs.gentoo.org/821115).

Occurs with 4.4.25 and 4.4.26 and git master.

<details>
<summary>Details</summary>
<pre>
Portage 3.0.20 (python 3.9.7-final-0, default/linux/sparc/17.0/64ul/desktop, gcc-10.3.0, glibc-2.33-r7, 5.13.0-gentoo sparc)
===========================

[2021-11-30 16:31] RavuAlHemio opened #145 "crypt_gensalt* nrbytes recommendations?"
Greetings,

are there any recommendations for the number of random bytes (`rbytes` and `nrbytes`) passed to the `crypt_gensalt` family of functions? Interestingly enough, asking for a yescrypt salt (prefix `"$y$"`) fails with `ERANGE` if too many random bytes are passed; this is not documented as one of the possible reasons for `ERANGE` in the corresponding manpage.

Perhaps one of the following o

[2021-11-30 18:53] besser82 commented on #145
Hi,

thanks for your findings!

I assume more then 32 bytes of randomness for the salt won't offer any benefit for the `scrypt` and `yescrypt` hashing methods.  Maybe we should silently discard any higher number of `rbytes` fed into their corresponding gensalt implementations.

@zackw @solardiz How do you feel about this?

[2021-11-30 19:20] solardiz commented on #145
I guess the recommendation for current libxcrypt should be to pass `NULL, 0` to let libxcrypt generate a random salt of an appropriate size on its own.

I agree that more than 32 is unneeded. In fact, that's already way more than is needed for security, but presumably it could be for compliance. I hope we wouldn't need more than that even for compliance later, although technically yescrypt current

[2021-11-30 21:03] besser82 commented on #145
@solardiz Thanks for your comments.  Please let me know, if the linked PR is fine for you and aligns with your recommendations on this topic.

[2021-11-30 21:04] besser82 commented on #145
@RavuAlHemio Is the issue fixed for you with my changes in the linked PR?

[2021-11-30 22:26] RavuAlHemio commented on #145
Yes, I just tested it and the truncation seems to work as expected -- I am no longer getting `ERANGE`.

[2021-11-30 23:45] besser82 commented on #145
Thanks for the feedback!

[2021-11-30 23:48] #145 closed

[2021-12-01 09:16] RavuAlHemio commented on #145
Thanks for the speedy fix!

[2021-12-01 11:41] solardiz commented on #145
With the changes in #146, we now recommend "128+". I'd recommend exactly 128. No need to "recommend" something that we actually should not genuinely recommend.

OTOH, this reminds me that shadow went with 144 for ease of encoding (with shadow's custom code). I'd rather see them use 128, but we possibly should not make their 144 appear not-recommended now...

We might also want to check how other `

[2022-01-27 08:25] myhou0418 opened #149 "support SM3 hash algorithm"
Do we have plans to support the SM3 algorithm? Libgcrypt already supports SM3.

[2022-01-27 10:54] solardiz commented on #149
I hope not! SM3 is a fast hash, not a password hash, and it would be a vulnerability to directly use it for passwords.

[2022-01-28 07:00] myhou0418 commented on #149
Is SHA256 a vulnerability to directly use for passwords?
The SM3 algorithm is an improved algorithm based on SHA-256. The compression function of the SM3 algorithm has a similar structure to the compression function of SHA-256, but the design of the SM3 algorithm is more complicated. For example, each round of the compression function uses 2 message words.

[2022-01-28 07:55] solardiz commented on #149
Yes, of course!

[2022-01-29 02:01] #149 closed

[2022-02-17 03:04] guoxiangyang opened #151 "update fail in archlinux test-suite.log"
archlinux
[code]

[2022-02-17 10:13] michelsenn commented on #151
Got the same result on arch linux

[2022-02-17 10:52] besser82 commented on #151
Can you please rebuild after configuring libxcrypt with `--enable-obsolete-api=glibc` and report the result of the testsuite using this configuration?

[2022-02-17 11:57] sebtacke commented on #151
The 4.4.26 version in aur was built with `--enable-obsolete-api=yes` and the 4.4.28 in aur uses `--enable-obsolete-api=yes`. I guess that causes this issue as the 4.4.26 that the compat check is run against has additional symbols.

[2022-02-18 22:49] alexforencich opened #152 "Tests fail on AMD EPYC"
When building this package on an AMD EPYC Zen 2 CPU, the tests fail, including one reported segfault.

Configured with

      ./configure \
        --prefix=/usr \
        --disable-static \
        --enable-hashes=strong,glibc \
        --enable-obsolete-api=glibc \
        --disable-failure-tokens

Test suite run output:

    PASS: test/ka-bcrypt
    PASS: test/ka-bcrypt-a
    SKIP: test/ka-bcry

[2022-02-18 22:51] alexforencich commented on #152
How do I run it manually?

[2022-02-19 11:59] solardiz commented on #152
@alexforencich Can you try without `--disable-failure-tokens`?

Can you share more detail about the system - compiler, etc. Also is this in a VM, and if so with how much RAM?

[2022-02-19 14:36] solardiz commented on #152
At least this one looks like an out-of-memory condition in a tiny VM to me.

[2022-02-19 19:02] alexforencich commented on #152
I will re-run without that flag. This is not in a VM, this is bare metal on a 64 core AMD EPYC Zen 2 with 256 GB of RAM. So it's definitely not running out of RAM.

[2022-02-19 20:31] alexforencich commented on #152
Seems like removing that flag made no difference to the test suite output:

   =====================================
      xcrypt 4.4.28: ./test-suite.log
   =====================================

   # TOTAL: 46
   # PASS:  33
   # SKIP:  10
   # XFAIL: 0
   # FAIL:  3
   # XPASS: 0
   # ERROR: 0

   .. contents:: :depth: 2

   SKIP: test/ka-bcrypt-x
   ======================

   SKIP test/ka-bcry

[2022-02-19 20:35] alexforencich commented on #152
Some system information:

    $ uname -a
    Linux frodo 5.16.9-arch1-1 #1 SMP PREEMPT Fri, 11 Feb 2022 22:42:06 +0000 x86_64 GNU/Linux
    $ gcc --version
    gcc (GCC) 11.2.0
    Copyright (C) 2021 Free Software Foundation, Inc.
    This is free software; see the source for copying conditions.  There is NO
    warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

Build wor

[2022-02-19 20:53] solardiz commented on #152
Thank you, @alexforencich. This is puzzling because the difference between these two is supposed to be in memory usage (16 MiB vs. 1 GiB):

[code]

Further, it explicitly knows it "FAILED" - it does not simply return a miscomputed value. This is why I thought of memory allocation error as the most likely cause.

Even further, the value it returned for the 16 MiB case is the correct one.

If not to

[2022-02-19 20:56] solardiz commented on #152
Oh, here's another idea - maybe some weird goes on with allocation of huge pages. We have this in `lib/alg-yescrypt-platform.c`:

[code]

Obviously, one of these values is below and the other above this threshold. Can you try playing with this threshold to see if it makes a difference - e.g., replace the `32` with `1500`, so that neither test uses huge pages?

[2022-02-19 21:19] alexforencich commented on #152
Aha, possibly something strange is going on with hugepages.  On the machines in question, hugepages are configured like so:

    default_hugepagesz=1G hugepagesz=1G hugepages=16

So if the tests are trying to allocate too many huge pages, then something will fail.

I'll make that change and see what happens when re-running the tests.

[2022-02-19 21:22] solardiz commented on #152
The code assumes that there are 2M-sized huge pages, and maybe you only have 1G-sized instead? The code aligns the size for 2M, not for 1G, so the allocation will likely fail for that reason. However, it should then retry without huge pages at all. So it's still puzzling why it fails visibly.

[2022-02-19 21:22] alexforencich commented on #152
Tests pass with that change.  Definitely looks like there is something wrong with how hugepages are handled here; it looks like the code is expecting hugepages to be 2 MB, but on those machines hugepages are 1 GB.

[2022-02-19 21:27] alexforencich commented on #152
On the problematic machine:

    $ cat /proc/meminfo | grep -i huge
    AnonHugePages:     18432 kB
    ShmemHugePages:        0 kB
    FileHugePages:         0 kB
    HugePages_Total:      16
    HugePages_Free:       16
    HugePages_Rsvd:        0
    HugePages_Surp:        0
    Hugepagesize:    1048576 kB
    Hugetlb:        16777216 kB

On a machine that works:

    AnonHugePages:     73728

[2022-02-19 21:29] solardiz commented on #152
As I understand, Zen 2 (and thus EPYC) does support 2 MB pages as well - so it's a matter of kernel configurations.

Regardless, I don't see why the expected fallback to non-huge pages apparently also failed, and why some of the `gensalt` tests failed - these should be unrelated, but you say adjusting the threshold fixed them as well?

[2022-02-19 21:32] alexforencich commented on #152
After making that change, all of the tests passed.  Yes, the machines probably support 2 MB hugepages, but as the machines are used for networking applications with DPDK, the hugepage size is set to 1 GB.  But an encryption library should not be dependent on the kernel configuration in this way.

Also, I did a bit of poking around, and the alg-yescrypt test binary reports a segfault at the end of

[2022-02-19 21:33] solardiz commented on #152
Oh, I think I understand - they were followed by `crypt` using the generated salt, and that failed. OK then.

So we just need to figure out what happened with the fallback, which is here:

[code]

The expectation is that we'd get `MAP_FAILED` the first time, and then retry without `MAP_HUGETLB` and it'd succeed.

[2022-02-19 21:35] alexforencich commented on #152
What file is that in?  I can add some prints and run it again.

[2022-02-19 21:37] solardiz commented on #152
This is in `lib/alg-yescrypt-platform.c`. Maybe gcc 11 somehow "optimizes" this. We have a comparison between pointers to different types in there. Maybe try casting `(void *)base` in that `if`?

[2022-02-19 21:37] alexforencich commented on #152
Segfault backtrace:

    Program received signal SIGSEGV, Segmentation fault.
    0x00007ffff7ef54bd in __strlen_avx2 () from /usr/lib/libc.so.6
    (gdb) where
    #0  0x00007ffff7ef54bd in __strlen_avx2 () from /usr/lib/libc.so.6
    #1  0x00007ffff7e120c3 in strdup () from /usr/lib/libc.so.6
    #2  0x00005555555555f9 in main ()
    (gdb) list

[2022-02-19 21:44] solardiz commented on #152
The segfault is because the test (not the code being tested) is careless - it does not check for `NULL` return from `yescrypt` (which indicates it has failed, and we already almost know why), passing the pointer into `strdup`. The `strlen` is probably in some glibc optimization of that.

[code]

We could fix this or not. The real important fix should be to the actual code being tested, to make the

[2022-02-19 21:47] alexforencich commented on #152
So I instrumented the code like so:

	base = mmap(NULL, new_size, PROT_READ | PROT_WRITE, flags, -1, 0);
	printf("mmap res 1: %p\n", base);
	if (base != MAP_FAILED) {
		printf("mmap succeeded\n");
		base_size = new_size;
	} else if (flags & MAP_HUGETLB) {
		printf("mmap failed, try without hugepages\n");
		flags &= ~MAP_HUGETLB;
		base = mmap(NULL, size, PROT_READ | PROT_WRITE, flags, -1, 0);
		pr

[2022-02-19 21:51] solardiz commented on #152
Looks so!

Meanwhile, I've just tested the fallback by making the first `mmap` fail - the fallback worked. This is with gcc 11.2.1.

[2022-02-19 21:54] solardiz commented on #152
@alexforencich Are you sure you reverted the threshold adjustment first - that is, that `MAP_HUGETLB` was set in the first `mmap` call in your test above? Maybe add printing of that flag as well.

[2022-02-19 21:56] alexforencich commented on #152
I reverted the adjustment, and if you look at the pointer LSBs, it definitely looks like it allocated a 1GB huge page:

    scrypt("", "", 16, 1, 1) =mmap res 1: 0x7f3961a3f000
    mmap succeeded
     77 d6 57 62 38 65 7b 20 3b 19 ca 42 c1 8a 04 97 f1 6b 48 44 e3 07 4a e8 df df fa 3f ed e2 14 42 fc d0 06 9d ed 09 48 f8 32 6a 75 3a 0f c8 1f 17 e8 d3 e0 fb 2e 0d 36 28 cf 35 e2 0c 38 d1 89 06
    scr

[2022-02-19 21:59] solardiz commented on #152
Oh, right. I assume you can also reproduce the same by:

[code]

[2022-02-19 22:02] alexforencich commented on #152
yep, that one seems to report the same failure:

    scrypt("pleaseletmein", "SodiumChloride", 1048576, 8, 1) = FAILED

[2022-02-19 22:13] solardiz commented on #152
I cannot reproduce the problem easily, so would appreciate it if you figure it out on this smaller codebase. It should be rather straightforward to see where the code detects it's failing for you.

[2022-02-19 22:14] alexforencich commented on #152
Would remote access to one of the machines in question be helpful?

[2022-02-19 22:29] alexforencich commented on #152
Alright, here's something strange: I just did some testing of that yescrypt code on two other machines (with Xeon CPUs), otherwise identical to each other except for the hugepages configuration (one is default, one has 16x 1G hugepages), and I'm not seeing the same failure there.  However, the test case fails somewhere else.  But these machines are running Ubuntu 18.04 instead of Arch.

[2022-02-20 12:09] solardiz commented on #152
Here's my current best guess: the failure is on `munmap()`.

Maybe this is related to the size we're unmapping not exactly matching the size the kernel actually maps. Specifically, we call `mmap()` with a size of 1 GiB + 2 MiB (in that test, we need a tiny but more than 1 GiB, and this gets rounded up to the next multiple of 2 MiB due to our setting of `HUGEPAGE_SIZE`). We then also call `munmap()

[2022-02-20 19:36] alexforencich commented on #152
Running the alg-yescrypt test with strace results in:

    mmap(NULL, 1075838976, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS|MAP_HUGETLB, -1, 0) = 0x7f11c0000000
    write(1, "scrypt(\"pleaseletmein\", \"SodiumC"..., 85scrypt("pleaseletmein", "SodiumChloride", 1048576, 8, 1) =mmap res 1: 0x7f11c0000000
    ) = 85
    write(1, "mmap succeeded\n", 15mmap succeeded
    )        = 15
    --- SIGW

[2022-02-20 19:53] solardiz commented on #152
I think that's actually why it's failing - can you try installing `time`?

[2022-02-20 19:56] alexforencich commented on #152
That's what's odd, it seems to be installed:

    $ time

    real    0m0.000s
    user    0m0.000s
    sys 0m0.000s

[2022-02-20 20:18] alexforencich commented on #152
Hmm, there is something strange going on here as well.  If I run the PHC test manually, it works:

    $ ./phc-test > PHC-TEST-OUT
    m_cost=0 (8 KiB), t_cost=0
    6450 c/s real, 8600 c/s virtual (258 hashes in 0.04 seconds)
    m_cost=7 (1024 KiB), t_cost=0
    600 c/s real, 600 c/s virtual (258 hashes in 0.43 seconds)
    m_cost=8 (2048 KiB), t_cost=0
    379 c/s real, 379 c/s virtual (258 has

[2022-02-20 20:22] alexforencich commented on #152
And under strace, we can compare what happens.

Defaults:

    mmap(NULL, 1075838976, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS|MAP_HUGETLB, -1, 0) = -1 ENOMEM (Cannot allocate memory)
    mmap(NULL, 1073744896, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7fc90ffff000
    futex(0x5619d7970d94, FUTEX_WAKE_PRIVATE, 2147483647) = 0
    futex(0x5619d7970d94, FUTEX_WAKE_PRIVATE, 2

[2022-02-20 20:53] alexforencich commented on #152
Hmm, seems like this is a documented "feature" https://man7.org/linux/man-pages/man2/mmap.2.html

For mmap, length is internally rounded up to the huge page size, but for munmap, this does not happen and the length needs to be correct.  So, what's the proper solution?  Seems like mmap supports MAP_HUGE_2MB and MAP_HUGE_1GB, so I think using this may be the "best" solution here...if you're going to

[2022-02-21 01:43] SuperSecureHuman commented on #151
Thanks for this tip
It worked for me

In case the owner needs more info on this issue, you can hit me up :)

[2022-02-21 06:58] chelseasura commented on #151
![image](https://user-images.githubusercontent.com/25239898/154904348-a2d036dd-c9a0-4f9d-bc3c-230dbe0f89fe.png)
I changed the line and not work for me @SuperSecureHuman

[2022-02-21 07:26] michelsenn commented on #151
This worked for me, too.

[2022-02-21 11:37] solardiz commented on #152
Regarding `time`, the one you tested manually is `bash` built-in. Maybe your `/bin/sh` (which is what `make` runs commands under) isn't `bash` and you do not have the separate `time` package/program installed. Anyway, maybe we should drop usage of `time` from those tests.

Thank you for figuring out that the `mmap` vs. `munmap` discrepancy in required rounding of size is actually documented, and f

[2022-02-21 12:41] solardiz commented on #152
Trying `MAP_HUGETLB` on an outdated RHEL7'ish kernel now, with some huge pages pre-allocated with `sysctl vm.nr_hugepages=1000`, I got a kernel crash (in `region_chg` called from `vma_needs_reservation` called from `alloc_huge_page`). So this stuff is fragile. Luckily, this only affects configurations that explicitly pre-allocated huge pages (otherwise the first `mmap` fails and we get the fallbac

[2022-02-21 23:12] alexforencich commented on #152
Oh, that would make sense, I think ubuntu uses `dash` for `sh` instead of `bash`.  Didn't realize `time` was a bash built-in.

Possibly hugepages vs transparent huge pages vs normal pages is worth some benchmarks.  Seems like transparent huge pages should be available on most systems since the default setting seems to be `madvise`.  I'm not sure how to check what's taking place in kernel in terms

[2022-03-23 23:27] der-b opened #153 "wrong man documentation"
In the man page of crypt(3) the struct crypt_data has an field "phrase": https://github.com/besser82/libxcrypt/blob/develop/doc/crypt.3#L93
This field doesn't exist. I guess you use "input" instead: https://github.com/besser82/libxcrypt/blob/develop/lib/crypt.h.in#L89

[2022-04-25 04:08] oittaa commented on #104
Link to the RFC: https://datatracker.ietf.org/doc/rfc9106/
Regarding the default work factors, [OWASP also has pretty decent recommendations](https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#argon2id) and might be worth taking a look. Or maybe something could be detected during the runtime like many password managers do.

[2022-05-07 07:08] sonic42 opened #155 "Build error with gcc 12.1"
First build tests (4.4.28) with gcc 12.1 produce this failure message:

/bin/bash ./libtool  --tag=CC   --mode=compile x86_64-cross-linux-gnu-gcc -DHAVE_CONFIG_H -I.  -I./lib -DIN_LIBCRYPT  -Wall -Wextra -Walloc-zero -Walloca -Wbad-function-cast -Wcast-align -Wcast-qual -Wconversion -Wformat=2 -Wformat-overflow=2 -Wformat-signedness -Wformat-truncation=1 -Wlogical-op -Wmissing-declarations -Wmissi

[2022-05-11 12:30] melak commented on #66
+1

[2022-09-28 08:17] alarig opened #156 "RFC3779 isn’t supported"
Hello,

I tried to install a package that needs RFC3779 support in libcrypto and it fails:
[code]

I don’t know what you need to test it and improve this issue, so please tell me!

[2022-10-31 20:09] thesamesam commented on #156
libcrypto is from OpenSSL, while libcrypt is something different (this project). I bet you want to enable USE=rfc3779 on dev-libs/openssl.

[2022-11-01 13:30] #142 closed

[2022-11-01 13:49] #153 closed

[2022-11-03 11:34] alarig commented on #156
It’s indeed what I want. Sorry for the confusion!

[2022-11-03 11:34] #156 closed

[2022-11-06 03:56] calestyo commented on #104
Anything new on this or the PR? Argon2 seems like a natural choice, given that it probably receives most scrutiny now.

[2022-11-08 07:00] besser82 commented on #155
@sonic42 does this problem still occur?

[2022-11-08 07:39] sonic42 commented on #155
Can be closed... With gcc 12.2 have no problems.

[2022-11-11 14:46] haampie opened #162 "Build failure"
libxcrypt: 4.4.30
gcc: 11.2.0

[code]

Edit: I noticed #161, just not released yet.

[2022-11-11 16:15] besser82 commented on #162
@haampie, does applying the patch from #161, or https://github.com/besser82/libxcrypt/commit/17cf4ce8af5a2a1af4c0f52260019cbae01835b8, fix your issue?

[2022-11-11 16:18] haampie commented on #162
Yes, fixes it. Maybe keep this issue open until the next release? Cause I looked first in open issues where I found nothing

[2022-11-11 16:22] besser82 commented on #155
Allright!  Thank you!

[2022-11-11 22:14] tpgxyz opened #163 "assuming pointer wraparound does not occur when comparing P +- C1 with P +- C2 [-Werror=strict-overflow]"
Hi, compiling latest 4.3.30 and got this error:

[code]

[2022-11-11 22:22] thesamesam commented on #163
See https://github.com/besser82/libxcrypt/issues/162 and its duplicates. It's fixed in master.

@besser82 I suspect we may want a new release for these 😄.

[2022-11-11 22:34] tpgxyz commented on #163
Forgot to mention that i'm building with upstream commits on top of 4.3.30

[2022-11-11 22:37] thesamesam commented on #163
Ah, thanks. Looks like this was reported before as https://github.com/besser82/libxcrypt/issues/155.

[2022-11-11 22:52] tpgxyz commented on #163
I'm already on gcc-12.2.x and that issues occurs.
[code]

[2022-11-12 08:26] besser82 commented on #163
@tpgxyz, can please check, if https://github.com/besser82/libxcrypt/commit/502c671e9115f147a6316191459afa55ab2f5345 will solve your issue?

[2022-11-12 10:51] besser82 commented on #155
Re-opening, as this is related to #163.

[2022-11-13 17:21] tpgxyz commented on #163
Issue closed with https://github.com/besser82/libxcrypt/commit/502c671e9115f147a6316191459afa55ab2f5345

[2022-11-13 17:21] #163 closed

[2022-11-13 18:33] #155 closed

[2022-11-13 18:59] besser82 commented on #162
Fixed in release [v4.4.31](https://github.com/besser82/libxcrypt/releases/tag/v4.4.31).

[2022-11-13 18:59] #162 closed

[2022-11-13 18:59] besser82 commented on #155
Fixed in release [v4.4.31](https://github.com/besser82/libxcrypt/releases/tag/v4.4.31).

[2022-11-13 18:59] besser82 commented on #163
Fixed in release [v4.4.31](https://github.com/besser82/libxcrypt/releases/tag/v4.4.31).

[2022-11-15 00:38] haampie commented on #115
This is an unfortunate change, since perl (or at least some library part of perl) links to libcrypt.so. Is it possible to revert?

[2022-11-15 00:40] haampie commented on #115
Or if reverting is not possible, can you generate things ahead of time for the tarball, or keept the generated file in source control?

[2022-11-15 00:54] haampie commented on #115
Note that Python until 3.12 (iirc) also depends on libcrypt.

[2022-11-15 00:58] thesamesam commented on #115
What changes in 3.12?

[2022-11-15 00:59] thesamesam commented on #115
AFAIK the release tarballs cover this now.

[2022-11-15 08:26] Mic92 commented on #152
The kernel version matters here for sure. After updating from 5.10.153 to 5.12.14, this was fixed.

[2022-11-15 08:42] Mic92 commented on #152
Would it make sense to disable hugetable support until these issues are sorted out?

[2022-11-15 12:31] haampie commented on #115
The configure script contains

[code]

[2022-11-15 13:48] besser82 commented on #115
I'm sorry, but I don't understand your problem fully.  In any case of building `libxcrypt`, there is no broken dependency cycle, as all you need, besides a `libc` and a (cross-)compiler for `$TARGET`, is a basic `perl >= 5.14` installation on `$HOST`, which is mandatory to be present on any system conforming to `LSB`, `Posix`, and/or `SysV`.

Can you give us some more information about your proble

[2022-11-15 14:30] haampie commented on #115
The problem is I don't see how this is supposed to be bootstrapped. Perl needs libcrypt, libcrypt needs Perl. Sure, there are binaries for Perl in minimal system images, but they already depend on libcrypt:

[code]

[2022-11-15 14:41] besser82 commented on #115
`libcrypt` doesn't need `perl` as a run-time dependency;  `perl` is needed during build-time to generate / configure some internally used header-files.  The resulting `libcrypt.so` is fully self-contained, and doesn't link any objects from `perl`.

The `libcrypt` in this example is already `libxcrypt`, as `Ubuntu 22.04` ships `libxcrypt-4.4.27`.

The cycle is `libc` (using `python >= 3.4` availabl

[2022-11-15 14:44] zackw commented on #115
I believe (based on source inspection) that if you build perl on a system where libcrypt is unavailable, the "Configure" script will figure that out for itself and disable the features that depend on it.  You can then use that perl to build libcrypt, and then rebuild perl with libcrypt.

Debian has done a whole bunch of work on figuring out the best way to deal with this and the several other depe

[2022-11-15 15:00] haampie commented on #115
Thanks for the comments. Let me just expand a bit about the context:

In [Spack](https://github.com/spack/spack) we'd like users to build different flavors and versions of packages independently from their distro, kinda like Nix, but more source-build oriented. In a consistent dependency graph we typically allow only one flavor of a package. As such we want to avoid a chain like `perl crypt=yes` d

[2022-11-15 16:53] solardiz commented on #152
@Mic92 Yes, I'm considering either dropping explicit huge pages support or using `MAP_HUGE_2MB` (where available, and excluding explicit usage of huge pages otherwise).

[2022-11-16 17:55] solardiz commented on #152
So I was thinking that maybe on recent kernels explicit huge page support was no longer helpful - but no, on Fedora 36 with a 5.18'ish kernel I am getting +4% speed at one hash computation, +3% at many concurrent computations for 1 GiB per hash allocation (useful for the KDF use case of upstream yescrypt, and not so much for libxcrypt's password hashing use case). To achieve these speedups, I have

[2022-11-16 19:49] besser82 commented on #115
@haampie:  See: https://github.com/spack/spack/issues/33907#issuecomment-1317579185 for some explaination about RHEL-based distros;  usually the sysadmin isn't opposed to have that fixed.

[2022-11-17 15:16] solardiz commented on #152
There's also a 1% speedup at 16 MiB (which we currently typically use for password hashing with libxcrypt), but the threshold is set at 32 MiB. Initially (prior to yescrypt 1.0 release), I had the threshold at 12 MiB (based on testing back then). The increase to 32 MiB was to better accommodate concurrent RAM+ROM usage, where having only the ROM on huge pages (typically SysV shm) resulted in sligh

[2022-11-17 15:49] Mic92 commented on #152
Thanks. I just applied the patch and it works for both 1GiB and 2MiB pages on a system that used to fail before.

[2022-11-17 15:56] solardiz commented on #152
Thanks for testing. I've just pushed this fix to upstream yescrypt: https://github.com/openwall/yescrypt/commit/1554b087ffe2d8c5c07c2795fe5cc21558b8a036

[2022-11-17 20:32] Mic92 commented on #152
Could we get a patch release for nixpkgs? https://github.com/NixOS/nixpkgs/pull/201653

[2022-11-17 20:51] mweinelt commented on #152
cc @besser82 ^

[2022-11-18 06:19] besser82 commented on #152
@Mic92, @mweinelt:  Fixed in release [v4.4.32](https://github.com/besser82/libxcrypt/releases/tag/v4.4.32).

[2022-11-18 06:54] thesamesam opened #164 "Extend CI to cover latest GCC and Clang"
Mistakes happen and it's easily done, so no blame intended here! But if CI covered GCC 12, we may well have caught the following early:
- https://github.com/besser82/libxcrypt/commit/05e5705d66fb18c75bfe32bdcd1774248abab2ce
- https://github.com/besser82/libxcrypt/issues/155
- https://github.com/besser82/libxcrypt/issues/162
- https://github.com/besser82/libxcrypt/issues/163

CI is currently runnin